@import './../../style/css/aaa-var';
@import './../../style/css/helper';

.article_padded_wrapper {
    margin-right: 370px;
}

.eye_counter {
    height: 76px;
    position: static;
}

.title_image {
    border-radius: 4px;
    display: block;
    margin-bottom: 32px;
    width: 100%;
}

.article_text_wrapper {
    padding-bottom: 67px;

    p {
        color: $mainHeaderColor;
        font-size: 14px;
        line-height: 20px;
        padding-bottom: 18px;
    }

    img {
        max-width: 100% !important; // sorry, any html can arrive from server
    }

    strong {
        font-weight: bold;
    }
}

.share {
    display: block;
}

.share_label {
    color: $mainHeaderColor;
    display: block;
    float: left;
    font-size: 18px;
    font-weight: bold;
    margin-right: 29px;
    padding-top: 14px;
}

.share_button {
    border-radius: 26px;
    cursor: pointer;
    float: left;
    height: 52px;
    //background-color: $mainTextColor;
    margin-right: 27px;
    width: 52px;

    &:hover {
        opacity: 0.75;
    }

    &:last-child {
        margin-right: 0;
    }
}

.extra_article_list {
    float: right;
    min-width: 200px;
    width: 268px;
    //background-color: #0c0;
}

.extra_article {
    border-bottom: 1px solid $mainBorderColor;
    display: block;
    margin-bottom: 32px;
    padding-bottom: 33px;

    &:last-child {
        border-bottom-color: transparent;
    }
}

.extra_article_image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 4px;
    display: block;
    height: 164px;
    margin-bottom: 20px;
    width: 100%;
}

.extra_article_header {
    @include line-cap(3);

    color: $mainHeaderColor;
    font-size: 16px;
    font-weight: bold;
    height: 72px;
    line-height: 24px;
    margin-bottom: 19px;
}

.extra_article_date {
    color: $mainTextColor;
    display: block;
    font-size: 14px;
}

:global .lt-desktop-width {
    :local {
        .article_padded_wrapper {
            border-bottom: 1px solid $mainBorderColor;
            margin-bottom: 65px;
            margin-right: 0;
            padding-bottom: 61px;
        }

        .title_image {
            margin-bottom: 26px;
        }

        .article_text_wrapper {
            padding-bottom: 16px;
        }

        .share_label {
            float: none;
            padding-bottom: 30px;
            width: 100%;
        }

        .extra_article_list {
            display: flex;
            flex-direction: row;
            float: none;
            justify-content: space-between;
            width: 100%;
        }

        .extra_article {
            border-bottom: none;
            width: 48%;
        }

        .extra_article:last-child {
            display: none;
        }
    }
}

:global .lt-tablet-width {
    :local {
        .article_padded_wrapper {
            margin-bottom: 46px;
            padding-bottom: 44px;
        }

        .extra_article_list {
            display: block;
        }

        .extra_article {
            border-bottom: 1px solid $mainBorderColor;
            width: 100%;
        }

        .extra_article:last-child {
            border-bottom: 1px solid transparent;
            display: block;
        }
    }
}
