@import "./../../style/css/aaa-var";

.article_padded_wrapper {
    margin-right: 370px;
}

.eye_counter {
    height: 76px;
    position: static;
}

.title_image {
    display: block;
    width: 100%;
    border-radius: 4px;
    margin-bottom: 32px;
}

.article_text_wrapper {
    padding-bottom: 67px;
    p {
        font-size: 14px;
        line-height: 20px;
        color: $mainHeaderColor;
        padding-bottom: 18px;
    }
}

.share {
    display: block;
}

.share_label {
    display: block;
    float: left;
    font-size: 18px;
    color: $mainHeaderColor;
    font-weight: bold;
    padding-top: 14px;
    margin-right: 29px;
}

.share_button {
    float: left;
    width: 52px;
    height: 52px;
    border-radius: 26px;
    cursor: pointer;
    background-color: $mainTextColor;
    margin-right: 27px;
    &:hover {
        opacity: 0.75;
    }
    &:last-child {
        margin-right: 0;
    }
}

.extra_article_list {
    width: 268px;
    float: right;
    min-width: 200px;
    //background-color: #0c0;
}

.extra_article {
    border-bottom: 1px solid $mainBorderColor;
    padding-bottom: 33px;
    margin-bottom: 32px;
    &:last-child {
        border-bottom-color: transparent;
    }
}

.extra_article_image {
    display: block;
    width: 100%;
    height: 164px;
    background-repeat: no-repeat;
    background-position: center center;
    margin-bottom: 20px;
    border-radius: 4px;
}

.extra_article_header {
    color: $mainHeaderColor;
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    margin-bottom: 19px;
}

.extra_article_date {
    font-size: 14px;
    color: $mainTextColor;
    display: block;
}

:global .lt-desktop-width {
    :local {
        .article_padded_wrapper {
            margin-right: 0;
            padding-bottom: 61px;
            margin-bottom: 65px;
            border-bottom: 1px solid $mainBorderColor;
        }
        .title_image {
            margin-bottom: 26px;
        }
        .article_text_wrapper {
            padding-bottom: 16px;
        }
        .share_label {
            float: none;
            width: 100%;
            padding-bottom: 30px;
        }

        .extra_article_list {
            float: none;
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            width: 100%;
        }

        .extra_article {
            width: 48%;
            border-bottom: none;
        }

        .extra_article:last-child {
            display: none;
        }
    }
}

:global .lt-tablet-width {
    :local {
        .article_padded_wrapper {
            padding-bottom: 44px;
            margin-bottom: 46px;
        }

        .extra_article_list {
            display: block;
        }

        .extra_article {
            width: 100%;
            border-bottom: 1px solid $mainBorderColor;
        }

        .extra_article:last-child {
            display: block;
            border-bottom: 1px solid transparent;
        }
    }
}
