@import "./../../../../style/css/aaa-var";

$headerBgColor: #f3f5f7;

.wrapper {
    display: block;
}

.part {
    padding-bottom: 50px;
}

.table_header {
    display: flex;
    flex-direction: row;
    width: auto;
    background-color: $headerBgColor;
    color: $mainTextColor;
    padding: 0 33px;
    box-sizing: border-box;
    border-radius: 25px;

    .table_header__name,
    .table_header__time,
    .table_header__cost {
        color: $mainTextColor;
        padding-top: 15px;
        padding-bottom: 15px;
        display: block;
        box-sizing: border-box;
        font-size: 17px;
        font-weight: bold;
        text-align: left;
    }

    .table_header__name {
        flex-grow: 1;
    }

    .table_header__time {
        border-left: 2px solid #fff;
        padding-left: 33px;
        width: 247px;
        min-width: 247px;
    }

    .table_header__cost {
        border-left: 2px solid #fff;
        padding-left: 33px;
        width: 224px;
        min-width: 247px;
    }
}

.table_body {
    display: block;
    color: $mainTextColor;
    font-size: 14px;

    .table_body__line {
        @extend .table_header;
        background-color: #fff;
        border-bottom: 1px solid $headerBgColor;

        &:hover {
            background-color: $mainColor;
            border-bottom-color: transparent;
            .table_body__name,
            .table_body__time,
            .table_body__cost {
                color: #fff;
            }
            .table_body__cost:after {
                content: '';
                position: absolute;
                width: 38px;
                height: 38px;
                right: -23px;
                top: 50%;
                margin-top: -18px;
                background-color: #ed0e4a;
                border-radius: 50%;
                z-index: 1;
                background-image: url('./i/right-arrow.png');
                background-repeat: no-repeat;
                background-size: 6px 9px;
                background-position: center center;
            }
        }

        .table_body__name,
        .table_body__time,
        .table_body__cost {
            color: $mainTextColor;
            padding-top: 16px;
            padding-bottom: 14px;
            display: block;
            box-sizing: border-box;
            font-size: 15px;
            font-weight: normal;
            text-align: left;
            border-left-color: transparent;
        }

        .table_body__name {
            @extend .table_header__name;
        }

        .table_body__time {
            @extend .table_header__time;
        }

        .table_body__cost {
            @extend .table_header__cost;
            position: relative;
            :global {
                .bold {
                    font-size: 16px;
                }
            }
        }

    }
}

:global {
    .lt-desktop-width {
        :local {
            .wrapper {
                margin-left: 15px;
                margin-right: 15px;
            }
            .table_header {
                padding-left: 25px;
                padding-right: 25px;

                .table_header__time {
                    padding-left: 20px;
                    width: 215px;
                    min-width: 215px;
                }

                .table_header__cost {
                    padding-left: 20px;
                    width: 135px;
                    min-width: 135px;
                }
            }
        }
    }

    .lt-tablet-width {
        :local {
            .wrapper {
                margin-left: 10px;
                margin-right: 10px;
            }
        }
    }
}
