@import './../../style/css/sercion.m';

.show_more_wrapper {
    padding: 0 0 100px;
    text-align: center;
}

.show_more_button {
    @extend .button;

    display: inline-block;
}

.show_more_icon {
    background-image: url('./image/show-more.png');
    background-repeat: no-repeat;
    float: right;
    height: 12px;
    margin-left: 7px;
    margin-top: 4px;
    width: 16px;
}
