@import "./../../../style/css/var";

.settings_form {
    display: block;
}

.settings_form_bottom_line {
    background-color: $mainBorderColor;
    clear: left;
    height: 1px;
    margin-left: 100px;
    margin-bottom: 38px;
}

.text_label {
    display: block;
    padding: 0 15px 39px 100px;
    box-sizing: border-box;
    width: 50%;
    float: left;
}

.text_label__label {
    font-size: 16px;
    color: $mainTextColor;
    font-weight: bold;
    padding-bottom: 19px;
}

.input_text {
    font-size: 14px;
    color: $mainTextColor;
    padding: 19px 18px 16px;
    border: 1px solid $mainBorderColor;
    border-radius: 4px;
    width: 100%;
    display: block;
    box-sizing: border-box;
}

.input_text__from_to {
    float: left;
    width: 50%;
    box-sizing: border-box;
    padding-right: 22px;
    &:last-child {
        padding-right: 0;
        padding-left: 22px;
    }
}

.from_to_arrow {
    background-repeat: no-repeat;
    background-position: center center;
    display: block;
    float: left;
    width: 44px;
    height: 52px;
    background-image: url('./../../../style/i/user/arrow-from-to.png');
    margin-left: -22px;
    margin-right: -22px;
}

.calendar_label {
    float: left;
    width: 50%;
    box-sizing: border-box;
    padding-right: 33px;
}

.gender_label {
    float: left;
    width: 50%;
    box-sizing: border-box;
    padding-left: 25px;
    .text_label__label {
        padding-bottom: 27px;
    }
}

.calendar_input {
    display: block;
    height: 53px;
    background-image: url('./../../../style/i/user/icon-calendar.png');
    background-repeat: no-repeat;
    border: 1px solid $mainBorderColor;
    border-radius: 4px;
    width: 202px;
    padding: 19px 18px 16px;
    box-sizing: border-box;
    background-position: right 18px top 22px;
}

.gender_label_container {
    float: left;
    clear: none;
    width: auto;
    margin-bottom: 0;
    padding: 10px 0;
    &:last-child {
        float: right;
    }
}

.settings_form__submit_button {
    font-size: 14px;
    text-align: center;
    min-width: 192px;
    background-color: $mainColor;
    border-radius: 40px;
    color: #fff;
    float: right;
    padding: 15px 0 16px;
    cursor: pointer;
}
