@import '../../../style/css/aaa-var';

.settings_form {
    display: block;
}

.settings_form_bottom_line {
    background-color: $mainBorderColor;
    clear: left;
    height: 1px;
    margin-bottom: 14px;
    margin-left: 100px;
    position: relative;
    top: -7px;
}

.text_label {
    box-sizing: border-box;
    display: block;
    float: left;
    padding: 0 15px 27px 100px;
    position: relative;
    width: 50%;

    .text_label__wide {
        width: 100%;
    }

    .error_label {
        right: 15px;
        top: 68px;
    }
}

.input_error_text {
    background-color: $mainColor;
    border-radius: 4px 0;
    color: #fff;
    font-size: 12px;
    padding: 4px 8px;
    position: absolute;
    right: 15px;
    top: 69px;
}

.text_label__wide {
    width: 100%;
}

.text_label__mobile_wide {
    display: block;
}

.text_label__label {
    color: $mainTextColor;
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 12px;
}

.text_label__phone {
    .input_text {
        padding-left: 54px;
    }
}

.text_label__phone_prefix {
    color: $mainTextColor;
    font-size: 14px;
    left: 119px;
    position: absolute;
    top: 50px;
}

.input_text {
    border: 1px solid $mainBorderColor;
    border-radius: 4px;
    box-sizing: border-box;
    color: $mainTextColor;
    display: block;
    font-size: 14px;
    padding: 19px 18px 16px;
    width: 100%;

    &:invalid,
    &.input_text__invalid {
        border-color: $mainColor;
    }
}

.input_text__from_to {
    box-sizing: border-box;
    float: left;
    padding-right: 22px;
    position: relative;
    width: 50%;

    .error_label {
        right: 22px;
        top: 38px;
    }

    &:last-child {
        padding-left: 22px;
        padding-right: 0;

        .error_label {
            right: 0;
        }
    }
}

.from_to_arrow {
    background-image: url('./../../../style/i/user/arrow-from-to.png');
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    float: left;
    height: 52px;
    margin-left: -22px;
    margin-right: -22px;
    width: 44px;
}

.calendar_label {
    box-sizing: border-box;
    cursor: pointer;
    float: left;
    padding-right: 33px;
}

.gender_label {
    box-sizing: border-box;
    float: left;

    .text_label__label {
        padding-bottom: 20px;
    }

    :global .section__radio {
        clear: none;
        float: left;
        width: auto;
    }

}

.calendar_input {
    background-image: url('./../../../style/i/user/icon-calendar.png');
    background-position: right 18px top 22px;
    background-repeat: no-repeat;
    border: 1px solid $mainBorderColor;
    border-radius: 4px;
    box-sizing: border-box;
    display: block;
    height: 53px;
    max-width: 202px;
    padding: 19px 18px 16px;
}

.gender_label_container {
    clear: none;
    float: left;
    margin-bottom: 0;
    padding: 10px 0;
    width: auto;

    &:last-child {
        margin-left: 15px;
    }
}

.settings_form__submit_button {
    background-color: $mainColor;
    border-radius: 40px;
    color: #fff;
    cursor: pointer;
    float: right;
    font-size: 14px;
    min-width: 192px;
    padding: 15px 0 16px;
    text-align: center;
}

.table__training_status {
    background-color: $mainTextColor;
    border-radius: 30px;
    color: #fff;
    font-size: 14px;
    margin-top: 15px;
    padding: 8px 0 11px;
    text-align: center;
    user-select: none;
    width: 168px;

    &.table__training_status__free {
        padding-left: 15px;
        padding-right: 15px;
        width: auto;
    }
}

.table__training_status_icon {
    background-position: center center;
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    left: 0;
    margin-right: 5px;
    position: relative;
    top: 0;
    width: 16px;

    &.table__training_status_icon__done {
        background-image: url('./../../../style/i/user/icon-status--done.png');
        top: 4px;
    }

    &.table__training_status_icon__in_progress {
        background-image: url('./../../../style/i/user/icon-status--in-progress.png');
        top: 3px;
    }

    &.table__training_status_icon__rejected {
        background-image: url('./../../../style/i/user/icon-status--rejected.png');
        left: 1px;
        top: 4px;
    }

    &.table__training_status_icon__taken {
        background-image: url('./../../../style/i/user/icon-status--taken.png');
        left: 2px;
        top: 3px;
    }
}

.favorite__description {
    color: $mainTextColor;
    font-size: 14px;
    margin-left: 100px;
    margin-top: -30px;
}

.favorite__description_heart {
    background-image: url('./../../../style/i/club/heart-filled.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: 14px;
    margin-left: 5px;
    position: relative;
    top: 2px;
    width: 15px;
}

.one_button_wrapper {
    .table__training_status {
        cursor: pointer;

        &:hover,
        &:active {
            background-color: #808080;
        }
    }
}

.two_button_wrapper {
    display: block;
    width: 268px;

    .table__training_status {
        cursor: pointer;

        &:hover,
        &:active {
            background-color: #808080;
        }
    }

    .table__training_status:first-child {
        float: left;
        width: 135px;
    }

    .table__training_status:last-child {
        float: right;
        width: 120px;
    }
}

.open_review_list_button {
    border: 1px solid $mainBorderColor;
    border-radius: 40px;
    box-sizing: border-box;
    color: $mainTextColor;
    cursor: pointer;
    float: right;
    font-size: 14px;
    padding-bottom: 11px;
    padding-top: 14px;
    position: relative;
    text-align: center;
    top: -124px;
    //margin-top: 0px;
    width: 192px;
    z-index: 1;

    &.open_review_list_button__active {
        background-color: $mainColor;
        border-color: $mainColor;
        color: #fff;

        .open_review_list_button__icon {
            background-image: url('./../../../style/i/user/icon-review--active.png');
        }
    }
}

.open_review_list_button__icon {
    background-image: url('./../../../style/i/user/icon-review.png');
    display: inline-block;
    height: 13px;
    margin-left: 11px;
    position: relative;
    top: 2px;
    width: 14px;
}

.open_review_list_button__counter {
    background-color: $mainColor;
    border: 2px solid #fff;
    border-radius: 40px;
    box-sizing: border-box;
    color: #fff;
    display: inline-block;
    font-size: 12px;
    height: 19px;
    margin-left: -6px;
    min-width: 19px;
    padding: 1px 4px 0;
    position: relative;
    text-align: center;
    top: -10px;

    &.open_review_list_button__counter__hidden {
        visibility: hidden;
    }
}

.user_form__error_p {
    color: $mainColor;
    display: block;
    font-size: 16px;
    padding-bottom: 16px;
    text-align: center;
    width: 100%;
}

//.decline__form {
//    display: block;
//    width: 100%;
//    box-sizing: border-box;
//    padding: 10px 10px;
//}

.decline__text_input__wrapper {
    display: block;
    margin-right: 175px;
}

.decline__text_input {
    background-color: #fff;
    border: 1px solid $mainBorderColor;
    border-radius: 4px;
    box-sizing: border-box;
    color: $mainTextColor;
    display: block;
    font-size: 14px;
    padding: 19px 18px 16px;
    width: 100%;
}

.decline__close_button {
    cursor: pointer;
    display: block;
    float: right;
    margin-top: 10px;
    position: relative;
    z-index: 1;

    &:hover,
    &:active {
        background-color: #808080;
    }
}

:global {
    .lt-desktop-width {
        :local {
            .text_label {
                padding-left: 15px;
            }

            .calendar_label {
                padding-right: 15px;
            }

            .text_label__mobile_wide {
                width: 100%;
            }

            .gender_label_container:last-child {
                float: left;
                margin-left: 15px;
            }

            .settings_form__submit_button {
                float: none;
                margin-left: auto;
                margin-right: auto;
                width: 192px;
            }

            .settings_form_bottom_line {
                margin-left: 15px;
                margin-right: 15px;
            }

            .open_review_list_button {
                margin-right: 15px;
                top: -115px;
            }

            .favorite__description {
                margin-left: 15px;
                margin-top: 0;
            }

            .text_label__phone_prefix {
                left: 34px;
            }
        }
    }

    .lt-tablet-width {
        :local {
            .text_label {
                width: 100%;
            }

            .calendar_label {
                padding-bottom: 39px;
            }

            .open_review_list_button {
                float: none;
                margin: 0 10px 16px;
                top: 0;
                width: auto;
            }

            .favorite__description {
                margin-left: 10px;
            }
        }
    }
}

.favorite_container {
    :global {
        .sale-swiper-card {
            /*
            .sale-swiper-card__favorite-mark {
                display: none;
            }
            */
            .sale-swiper-card__stopwatch {
                height: 166px;

                & ~ .sale-swiper-card__subscription-data {
                    margin-bottom: 34px;
                }
            }
        }
    }
}
