@import '../../../style/css/aaa-var';

.table {
    border-collapse: collapse;
    margin-bottom: 25px;
    width: 100%;
}

.t_head {
    background-color: $mainTextColor;

    td {
        color: #fff;
        font-size: 14px;
        letter-spacing: 1px;
        padding: 28px 13px 24px;
        text-align: left;
        vertical-align: middle;
    }
}

.t_body {
    td {
        color: $mainTextColor;
        font-size: 14px;
        padding: 28px 13px 26px;
        text-align: left;
        vertical-align: top;

        &.vertical_free {
            padding-bottom: 0;
            padding-top: 0;
        }

        &.decline__td {
            padding-bottom: 20px;
            padding-top: 0;
        }
    }

    tr:nth-child(even) {
        background-color: #f7f8fa;
    }
}

.t_link {
    color: $mainTextColor;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

:global {
    .lt-desktop-width {
        :local {
            .table {
                display: block;
                max-width: 100%;
                overflow-x: auto;
            }
        }
    }
}
