@import "../../../style/css/aaa-var";

.table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 25px;
}

.t_head {
    background-color: $mainTextColor;
    td {
        padding: 28px 13px 24px;
        text-align: left;
        vertical-align: middle;
        color: #fff;
        font-size: 14px;
        letter-spacing: 1px;
    }
}

.t_body {
    td {
        padding: 28px 13px 26px;
        text-align: left;
        vertical-align: top;
        color: $mainTextColor;
        font-size: 14px;
        &.vertical_free {
            padding-top: 0;
            padding-bottom: 0;
        }
        &.decline__td {
            padding-top: 0;
            padding-bottom: 20px;
        }
    }

    tr:nth-child(even) {
        background-color: #f7f8fa;
    }
}

.t_link {
    text-decoration: none;
    color: $mainTextColor;
    &:hover {
        text-decoration: underline;
    }
}

:global {
    .lt-desktop-width {
        :local {
            .table {
                max-width: 100%;
                display: block;
                overflow-x: auto;
            }
        }
    }
}
