@import "./../../style/css/aaa-class";
@import "./../../style/css/aaa-var";
@import "./../../style/css/helper";

.block {
    padding: 100px 0;
    background-color: $mainGray;
}

.block_hug {
    @extend .blog-wide-hug;
}

.article_holder {
    position: relative;
    height: 0;
    padding-bottom: 27.3%;
    max-width: $maxWidth;
    margin: 0 auto;
}

.article_1,
.article_2,
.article_3 {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: absolute;
    border-radius: 4px;
}

.article_header {
    color: #fff;
    position: absolute;
    width: 88%;
    left: 34px;
    //bottom: 93px;
    font-weight: bold;
    font-size: 25px;
    @include line-cap(1);
    height: 28px;
}

.article_sub_header {
    color: #fff;
    position: absolute;
    width: 88%;
    left: 34px;
    //bottom: 63px;
    font-size: 16px;
}

.article_1 {
    left: 0;
    top: 0;
    width: 57.3%;
    height: 100%;
    .eye_counter {
        left: 35px;
        top: 34px;
    }
    .article_header {
        bottom: 93px;
    }

    .article_sub_header {
        bottom: 63px;
    }
}

.article_2,
.article_3 {
    right: 0;
    width: 40.1%;
    height: 46.8%;
    .eye_counter {
        left: 35px;
        bottom: 36px;
    }
    .article_header {
        font-size: 19px;
        bottom: 120px;
    }

    .article_sub_header {
        font-size: 14px;
        bottom: 94px;
    }
}

.article_2 {
    top: 0;
}

.article_3 {
    bottom: 0;
}

:global .lt-desktop-width {
    :local {
        .block {
            padding: 40px 0;
        }
        .article_holder {
            padding-bottom: 62%;
        }
        .article_1,
        .article_2,
        .article_3 {
            width: 48%;
        }

        .article_1 {
            .article_header {
                bottom: 69px;
                @include line-cap(2);
                height: 56px;
            }

            .article_sub_header {
                bottom: 38px;
            }
        }

        .article_2,
        .article_3 {
            .article_header {
                bottom: 111px;
            }
        }

    }
}
