@import "../../../style/css/var";
//@import "../../../style/css/helper";

body { // just add authority in front of swiper's classes

    // gallery
    .gallery_swiper_full_width_wrapper {
        width: 100%;
        background-color: #192739;
        padding: 28px 0 32px;
        margin-bottom: 129px;
    }

    .gallery_swiper_container {
        margin: 0 auto;
    }

    .gallery_swiper_slide {
        display: block;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        width: 320px;
        height: 320px;
        position: relative;
        cursor: pointer;
        &:hover:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: #192739;
            opacity: 0.8;
            background-image: url('./../../../style/i/club/cross-white-46x2.svg');
            background-repeat: no-repeat;
            background-position: center center;
        }
    }

    .gallery_image_wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .gallery_image {
        @extend .gallery_swiper_slide;
        display: block;
        float: none;
        width: 370px;
        height: 256px;
        margin-bottom: 30px;
    }

    // filials
    .filial_info_wrapper {
        display: block;
        position: relative;
        margin-bottom: 130px;
    }

    .filial_list {
        width: 338px;
        border: 1px solid $mainBorderColor;
        max-height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        overflow: auto;
    }

    .filial_list_item {
        list-style: none;
        background-color: #f7f7f7;
        border-bottom: 1px solid $mainBorderColor;
        padding: 34px 32px 29px;
        cursor: pointer;
        &:global:hover,
        &:global.react-tabs__tab--selected {
            background-color: #fff;
            :local .filial_list_item_h {
                color: $mainColor;
            }
            :local .filial_list_item_p {
                color: $mainTextColor;
            }
        }
    }

    .filial_list_item:last-child {
        border-bottom: none;
    }

    .filial_list_item_h {
        font-size: 14px;
        color: #aaaeb5;
        font-weight: bold;
        padding-bottom: 3px;
    }

    .filial_list_item_p {
        font-size: 14px;
        color: #aaaeb5;
    }

    .filial_detailed_info {
        display: block;
    }

    .filial_details_block_wrapper {
        margin-left: 300px;
    }

    .filial_details_block {
        float: left;
        width: 50%;
        box-sizing: border-box;
        padding: 0 16px 39px 0;
    }

    .filial_details_block__w100 {
        width: 100%;
        box-sizing: border-box;
        padding: 0 16px 39px 0;
    }

    .filial_details_block_h {
        color: $mainColor;
        font-size: 16px;
        line-height: 20px;
        font-weight: bold;
        padding-bottom: 6px;
    }

    .filial_details_block_p {
        color: $mainTextColor;
        font-size: 14px;
        line-height: 25px;
    }

    .filial_details_block_ul {
        display: block;
    }

    .filial_details_block_li {
        @extend .filial_details_block_p;
        color: #c3c6ca;
        padding: 0 16px 0 21px;
        box-sizing: border-box;
        float: left;
        width: 50%;
        line-height: 28px;
        &.filial_details_block_li__active {
            background-image: url('./../../../style/i/sale/details-tick.png');
            background-repeat: no-repeat;
            background-position: 1px 7px;
            color: $mainTextColor;
        }
    }

    .filial_details_wrapper {
        display: block;
        margin-left: 400px;
        &:global.react-tabs__tab-panel--selected {
            padding-bottom: 43px;
        }
    }

    .filial_info_header {
        color: $mainTextColor;
        font-size: 18px;
        line-height: 20px;
        font-weight: bold;
        padding: 13px 0 47px 0;
        margin-right: 270px;
    }

    .filial_info_show_on_map {
        display: block;
    }

    .filial_info_image {
        display: block;
        float: left;
        width: 238px;
        height: 238px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        margin-top: 7px;
        border-radius: 100%;
    }

    .filial_details_map {
        width: 100%;
        height: 600px;
    }

    // reviews
    .review_list {
        display: block;
    }

    .review_item {
        display: block;
        clear: both;
        padding: 0 0 89px 100px;
        position: relative;
        border-bottom: 1px solid $mainBorderColor;
        margin-bottom: 73px;
    }

    .review_item_admin {
        clear: both;
        padding: 36px 0 0 0;
    }

    .review_text_holder {
        margin-left: 126px;
    }

    .review_image {
        display: block;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        background-color: #ccc;
        width: 88px;
        height: 88px;
        float: left;
        border-radius: 100%;
        margin: 4px 0 0 0;
    }

    .review_user_name {
        display: block;
        color: $mainTextColor;
        font-size: 16px;
        font-weight: bold;
        padding-bottom: 8px;
        position: relative;
    }

    .review_mark_as_new {
        background-color: $mainColor;
        color: #fff;
        font-size: 14px;
        text-align: center;
        width: 60px;
        display: inline-block;
        border-radius: 40px;
        box-sizing: border-box;
        height: 30px;
        margin-left: 12px;
        padding-top: 6px;
        margin-top: -6px;
        border: 2px solid #fff;
    }

    .review_date {
        display: block;
        font-size: 14px;
        color: $secondaryTextColor;
        padding-bottom: 9px;
    }

    .review_rating {
        width: 100px;
        position: absolute;
        right: 0;
        top: 0;
    }

    .review_text {
        display: block;
        font-size: 14px;
        line-height: 20px;
        color: $mainTextColor;
        //@include line-cap(3);
    }

    .review_show_full_review {
        display: block;
        font-size: 14px;
        padding: 5px 0 2px;
        color: #4285f4;
        border-bottom: 1px dotted #4285f4;
        cursor: pointer;
        float: left;
    }

    .reply_to_review_button {
        font-size: 14px;
        color: $mainTextColor;
        cursor: pointer;
        border: 1px solid $mainBorderColor;
        border-radius: 40px;
        width: 192px;
        box-sizing: border-box;
        text-align: center;
        padding-top: 14px;
        padding-bottom: 11px;
        float: right;
        clear: both;
    }

    // review form
    .review_form {
        display: block;
        background-color: #f7f8fa;
        padding: 33px 38px 40px 36px;
        margin: 0 0 0 100px;
        border-radius: 4px;
    }

    .reply_form {
        margin-left: 0;
        margin-top: 27px;
        clear: both;
        float: left;
        width: 100%;
        box-sizing: border-box;
    }

    .review_form__avatar {
        display: block;
        width: 60px;
        height: 60px;
        float: left;
        border-radius: 100%;
        background-image: url('./../../../style/i/club/no-avatar.png');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }

    .review_form__header {
        color: $mainTextColor;
        font-weight: bold;
        font-size: 24px;
        margin: 3px 0 4px 77px;
        letter-spacing: 1px;
    }

    .review_form__stars_label {
        color: $mainTextColor;
        font-size: 14px;
        padding-top: 3px;
    }

    .review_form__stars_wrapper {
        width: 100px;
        margin: 0 8px 0 14px;
        float: left;
        :global .clubs-catalog-list-item__rating-star {
            cursor: pointer;
        }
    }

    .review_form__text_area {
        color: $mainTextColor;
        font-size: 14px;
        display: block;
        box-sizing: border-box;
        border: 1px solid $mainBorderColor;
        width: 100%;
        border-radius: 3px;
        background-color: #fff;
        margin: 36px 0 40px 0;
        height: 141px;
        overflow: auto;
        padding: 29px 32px 20px;
        resize: none;
    }

    .review_form__button {
        background-color: $mainColor;
        color: #fff;
        text-align: center;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: bold;
        padding: 16px 34px 15px;
        float: right;
        position: relative;
        right: -6px;
        border-radius: 50px;
        cursor: pointer;
    }

    :global .lt-desktop-width {
        :local {
            .gallery_swiper_full_width_wrapper {
                margin-bottom: 87px;
            }
            .filial_list {
                width: 312px;
            }
            .filial_info_wrapper {
                margin-left: 16px;
                margin-right: 16px;
                margin-bottom: 40px;
            }
            .filial_details_wrapper {
                margin-left: 343px;
                :global .clubs-catalog-sort__button-colored {
                    display: none;
                }
            }
            .filial_info_header {
                margin-right: 0;
            }
            .filial_info_image {
                float: none;
                margin-bottom: 33px;
            }
            .filial_details_block_wrapper {
                margin-left: 0;
            }

            .review_list {
                padding-top: 39px;
            }

            .review_item {
                padding: 0 15px 89px;
            }

            .review_rating {
                right: 13px;
            }

            .review_form {
                margin-left: 15px;
                margin-right: 15px;
            }

            .reply_form {
                margin-left: 0;
                margin-right: 0;
            }

            .review_form__button {
                right: 50%;
                transform: translateX(50%);
            }

            .gallery_image_wrapper {
                padding-top: 14px;
                padding-left: 15px;
                //padding-right: 15px;
                justify-content: center;
            }

            .gallery_image {
                width: 228px;
                height: 158px;
                margin-bottom: 21px;
                margin-right: 21px;
            }
        }
    }

    :global .lt-tablet-width {
        :local {
            .gallery_swiper_full_width_wrapper {
                margin-bottom: 30px;
            }
            .filial_info_wrapper {
                margin: 23px 10px 0;
            }
            .filial_list {
                max-height: 160px;
                width: 100%;
                position: static;
                margin-bottom: 9px;
            }
            .filial_details_wrapper {
                margin-left: 0;
            }
            .filial_details_block_li,
            .filial_details_block {
                float: none;
                clear: both;
                width: 100%;
            }

            .review_text_holder {
                margin-left: 0;
            }

            .review_image {
                margin-right: 23px;
                margin-bottom: 12px;
            }

            .review_rating {
                position: static;
                height: 20px;
                float: left;
            }

            .review_text {
                clear: both;
            }

            .review_item_admin {
                padding-left: 35px;
            }

            .review_form {
                margin-left: 10px;
                margin-right: 10px;
                padding-left: 20px;
                padding-right: 20px;
                padding-bottom: 29px;
            }

            .reply_form {
                margin-left: 0;
                margin-right: 0;
            }

            .review_form__header {
                margin-left: 67px;
                letter-spacing: 0;
                padding-top: 14px;
            }

            .review_form__stars_wrapper {
                clear: both;
                margin: 39px 8px 0 -8px;
            }

            .review_form__stars_label {
                padding-top: 53px;
            }

            .review_form__text_area {
                margin-top: 22px;
                margin-bottom: 26px;
                padding: 22px 13px 13px;
            }

            .gallery_image_wrapper {
                //padding-top: 14px;
                padding-left: 10px;
                //padding-right: 10px;
            }

            .gallery_image {
                width: 145px;
                height: 100px;
                margin-bottom: 13px;
                margin-right: 10px;
            }

            .review_mark_as_new {
                position: absolute;
                right: 0;
                top: 0;
            }

            .reply_to_review_button {
                width: 100%;
                margin-top: 11px;
            }
        }
    }
}


