@import "./aaa-var";

.blog-hug {
    max-width: 1800px;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
}

.eye_count {
    font-size: 14px;
    display: block;
    padding: 30px;
    color: #fff;
    border-radius: 4px;
    background-repeat: no-repeat;
    background-position: 10px 10px;
    background-image: url('./../../style/i/eye-count/icon-eye-count.png');
}
