$maxWidth: 1170px;
$mainGray: #f7f8fa;
$mainHeaderColor: #192739;
$mainTextColor: #9399a1;
$mainActiveColor: #fc1050;
$mainBorderColor: #e3e5e9;
$textShadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
$promoArticleBgc: rgba(0, 0, 0, 0.15);
