//@import "./aaa-var";

.blog-wide-hug {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 1800px;
    padding-left: 15px;
    padding-right: 15px;
}

:global .lt-tablet-width {
    :local {
        .blog-wide-hug {
            padding-left: 10px;
            padding-right: 10px;
        }
    }
}

:global .lt-desktop-width {
    .lt-desktop-width-reverse {
        display: flex;
        flex-direction: column-reverse;
    }
}

:global .lt-tablet-width {
    .lt-tablet-width-reverse {
        display: flex;
        flex-direction: column-reverse;
    }
}
