.block__type_1 {
    float: right;
    width: 300px;
    height: 600px;
    background-image: url('//lorempixel.com/300/600/sports');
}

:global .lt-tablet-width {
    :local {
        .block__type_1 {
            margin: 20px auto;
            float: none;
        }

        /*
        .block {
            padding-right: 0;
            height: auto;
        }
        .image {
            height: 225px;
            width: 100%;
            margin-right: 0;
            margin-bottom: 25px;
            float: none;
        }
        */
    }
}

