.block__type_1 {
    background-position: center center;
    background-size: cover;
    border-radius: 4px;
    float: right;
    height: 600px;
    width: 300px;
}

:global .lt-tablet-width {
    :local {
        .block__type_1 {
            float: none;
            margin: 20px auto;
        }

        /*
        .block {
            padding-right: 0;
            height: auto;
        }
        .image {
            height: 225px;
            width: 100%;
            margin-right: 0;
            margin-bottom: 25px;
            float: none;
        }
        */
    }
}

