@import "./aaa-var";
@import "./helper";

.block_list {
    display: block;
    &.block_list__ads_padded {
        margin-right: 340px;
    }
    &.block_list__separated {
        .block {
            position: relative;
            margin-bottom: 59px;
            &:after {
                content: '';
                position: absolute;
                width: 100%;
                height: 1px;
                bottom: -30px;
                left: 0;
                background-color: $mainBorderColor;
            }

            &:last-child {
                margin-bottom: 0;
                &:after {
                    display: none;
                }
            }
        }
    }
}

.block {
    display: block;
    height: 225px;
    margin-bottom: 32px;
    //padding-right: 10px;
    &:last-child {
        margin-bottom: 0;
    }
}

.image {
    height: 100%;
    width: 370px;
    margin-right: 31px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 4px;
    float: left;
}

.text_block {
    display: block;
}

.header {
    font-weight: bold;
    color: $mainHeaderColor;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
    margin-bottom: 23px;
    @include line-cap(2);
    height: 48px;
}

.eye_counter_wrapper {
    width: 100%;
    height: 56px;
}

.eye_counter {
    position: static;
}

.eye_counter__date {
    color: $mainTextColor;
    font-weight: normal;
}

.preview_text {
    color: $mainTextColor;
    font-size: 14px;
    line-height: 24px;
    @include line-cap(4);
    height: 96px;
}

.block_list.block_list__3_in_row {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;

    .block {
        width: 31.7%;
        height: auto;
        padding: 0;
    }

    .image {
        height: 225px;
        width: 100%;
        float: none;
        margin-right: 0;
        margin-bottom: 20px;
    }
}

:global .lt-desktop-width {
    :local {
        .block_list__ads_padded {
            .block {
                padding-right: 0;
                height: auto;
            }
            .image {
                height: 225px;
                width: 100%;
                margin-right: 0;
                margin-bottom: 25px;
                float: none;
            }
        }
        .block_list__3_in_row {
            .block {
                width: 48%;
            }
        }
    }
}

:global .lt-tablet-width {
    :local {
        .block {
            padding-right: 0;
            height: auto;
        }
        .image {
            height: 225px;
            width: 100%;
            margin-right: 0;
            margin-bottom: 25px;
            float: none;
        }

        .block_list__ads_padded {
            margin-right: 0;
        }
        .block_list__3_in_row {
            .block {
                width: 100%;
            }
        }

        /*
        .block {
            padding-right: 0;
            height: auto;
        }
        .image {
            height: 225px;
            width: 100%;
            margin-right: 0;
            margin-bottom: 25px;
            float: none;
        }
        */
    }
}
