@import './aaa-var';
@import './helper';

.block_list {
    display: block;

    &.block_list__ads_padded {
        margin-right: 340px;
    }

    &.block_list__separated {
        .block {
            margin-bottom: 59px;
            position: relative;

            &:after {
                background-color: $mainBorderColor;
                bottom: -30px;
                content: '';
                height: 1px;
                left: 0;
                position: absolute;
                width: 100%;
            }

            &:last-child {
                margin-bottom: 0;

                &:after {
                    display: none;
                }
            }
        }
    }
}

.block {
    display: block;
    height: 225px;
    margin-bottom: 32px;
    //padding-right: 10px;
    &:last-child {
        margin-bottom: 0;
    }
}

.image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 4px;
    float: left;
    height: 100%;
    margin-right: 31px;
    width: 370px;
}

.text_block {
    display: block;
}

.header {

    @include line-cap(2);
    color: $mainHeaderColor;
    font-size: 16px;
    font-weight: bold;

    height: 48px;
    letter-spacing: 0.5px;
    line-height: 24px;
    margin-bottom: 23px;
}

.eye_counter_wrapper {
    height: 56px;
    width: 100%;
}

.eye_counter {
    position: static;
}

.eye_counter__date {
    color: $mainTextColor;
    font-weight: normal;
}

.preview_text {

    @include line-cap(4);
    color: $mainTextColor;
    font-size: 14px;

    height: 96px;
    line-height: 24px;
}

.block_list.block_list__3_in_row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    .block {
        height: auto;
        padding: 0;
        width: 31.7%;
    }

    .image {
        float: none;
        height: 225px;
        margin-bottom: 20px;
        margin-right: 0;
        width: 100%;
    }
}

:global .lt-desktop-width {
    :local {
        .block_list__ads_padded {
            .block {
                height: auto;
                padding-right: 0;
            }

            .image {
                float: none;
                height: 225px;
                margin-bottom: 25px;
                margin-right: 0;
                width: 100%;
            }
        }

        .block_list__3_in_row {
            .block {
                width: 48%;
            }
        }
    }
}

:global .lt-tablet-width {
    :local {
        .block {
            height: auto;
            padding-right: 0;
        }

        .image {
            float: none;
            height: 225px;
            margin-bottom: 25px;
            margin-right: 0;
            width: 100%;
        }

        .block_list__ads_padded {
            margin-right: 0;
        }

        .block_list__3_in_row {
            .block {
                width: 100%;
            }
        }

        /*
        .block {
            padding-right: 0;
            height: auto;
        }
        .image {
            height: 225px;
            width: 100%;
            margin-right: 0;
            margin-bottom: 25px;
            float: none;
        }
        */
    }
}
