@import "./aaa-var";

/*
.blog_header {
    font-weight: bold;
    color: $mainTextColor;
    position: relative;
}
*/

.blog_section {
    padding: 86px 0 104px;
    background-color: #fff;
    &.blog_section__gray {
        background-color: $mainGray;
    }
    &.blog_section__article {
        padding-bottom: 160px;
    }
    &:after {
        content: '';
        display: block;
        clear: both;
    }
}

.blog_section_content {
    max-width: $maxWidth;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.blog_section_header {
    font-weight: bold;
    font-size: 36px;
    color: $mainHeaderColor;
    position: relative;
    padding-left: 101px;
    letter-spacing: 1px;
    padding-bottom: 80px;
    &:before {
        display: none;
        content: '';
        background-color: $mainActiveColor;
        position: absolute;
        bottom: 89px;
        left: 0;
        width: 70px;
        height: 2px;
    }
}

:global .desktop-width {
    :local {
        .blog_section_header {
            &.blog_section_header__article {
                padding-left: 0;
                padding-bottom: 34px;
                &:before {
                    left: -101px;
                    bottom: 43px;
                }
            }
        }
    }
}

.button {
    padding: 13px 38px 14px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    box-sizing: border-box;
    border-radius: 50px;
    border: 1px solid $mainBorderColor;
    background-color: #fff;
    cursor: pointer;
    letter-spacing: 0.5px;
    &:hover {
        background-color: $mainBorderColor;
    }
}

:global .lt-desktop-width {
    :local {
        .blog_section {
            padding: 31px 0 47px;
            &.blog_section__article {
                padding-bottom: 20px;
            }
        }

        .blog_section_header {
            font-size: 24px;
            padding-left: 0;
            padding-bottom: 57px;
            &:before {
                display: block;
                bottom: 43px;
            }
        }
    }
}

:global .lt-tablet-width {
    :local {
        .blog_section_content {
            padding-left: 10px;
            padding-right: 10px;
        }
    }
}
