@import './aaa-var';

/*
.blog_header {
    font-weight: bold;
    color: $mainTextColor;
    position: relative;
}
*/

.blog_section {
    background-color: #fff;
    padding: 86px 0 104px;

    &.blog_section__gray {
        background-color: $mainGray;
    }

    &.blog_section__article {
        padding-bottom: 160px;
    }

    &:after {
        clear: both;
        content: '';
        display: block;
    }
}

.blog_section_content {
    margin: 0 auto;
    max-width: $maxWidth;
    padding-left: 15px;
    padding-right: 15px;
}

.blog_section_header {
    color: $mainHeaderColor;
    display: block;
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 1px;
    padding-bottom: 80px;
    padding-left: 101px;
    position: relative;

    &:before {
        background-color: $mainActiveColor;
        bottom: 89px;
        content: '';
        height: 2px;
        left: 0;
        position: absolute;
        width: 70px;
    }
}

.blog_section_header_link {
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

:global .desktop-width {
    :local {
        .blog_section_header {
            &.blog_section_header__article {
                padding-bottom: 34px;
                padding-left: 0;

                &:before {
                    display: none;
                }
            }
        }
    }
}

.button {
    background-color: #fff;
    border: 1px solid $mainBorderColor;
    border-radius: 50px;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.5px;
    padding: 13px 38px 14px;
    text-align: center;

    &:hover {
        background-color: $mainBorderColor;
    }
}

:global .lt-desktop-width {
    :local {
        .blog_section {
            padding: 31px 0 47px;

            &.blog_section__article {
                padding-bottom: 20px;
            }
        }

        .blog_section_header {
            font-size: 24px;
            padding-bottom: 57px;
            padding-left: 0;

            &:before {
                bottom: 43px;
            }
        }
    }
}

:global .lt-tablet-width {
    :local {
        .blog_section_content {
            padding-left: 10px;
            padding-right: 10px;
        }
    }
}
