.text_wrapper {
    display: block;
    position: relative;
    z-index: 1;

    h4 {
        font-weight: bold;
        padding: 35px 20px 20px;
        text-align: center;
    }

    p {
        margin-left: 40px;

        &.ti_1 {
            text-indent: 40px;
        }

        &.ml_0 {
            margin-left: 0;
        }

        &.ml_1 {
            margin-left: 80px;
        }

        .number {
            float: left;
            margin-left: -50px;
            margin-top: 2px;
            text-align: right;
            text-indent: 0;
            width: 40px;
        }

    }

    .centered_text {
        margin-left: 0;
        padding: 0 20px;
        text-align: center;
    }
}

