@import '../../../../style/css/aaa-var';

.close_button {
    cursor: pointer;
    display: block;
    height: 40px;
    position: absolute;
    right: 41px;
    top: 34px;
    width: 40px;
    z-index: 2;

    &:before,
    &:after {
        background-color: $mainColor;
        content: '';
        height: 3px;
        left: 50%;
        position: absolute;
        top: 50%;
        width: 30px;
    }

    &:before {
        transform: translate3d(-50%, -50%, 0) rotateZ(45deg);
    }

    &:after {
        transform: translate3d(-50%, -50%, 0) rotateZ(-45deg);
    }
}

.close_button__white {
    @extend .close_button;

    &:before,
    &:after {
        background-color: #fff;
    }
}

.popup__paper {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.7);
    box-sizing: border-box;
    display: block;
    padding: 52px 54px 33px;
    position: relative;
    //width: 770px;
    //min-height: 746px;
    & .close_button {
        right: 28px;
        top: 23px;
    }
}

.popup__header {
    color: $mainTextColor;
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 7px;
}

.popup__p {
    color: $mainTextColor;
    font-size: 16px;
    padding-bottom: 4px;
}

.popup__terms_p {
    color: $mainTextColor;
    font-family: Consolas, 'Liberation Mono', Courier, monospace;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.5px;
    margin-bottom: 15px;
    padding-bottom: 4px;
}

.popup__enter_link {
    border-bottom: 1px dotted #00a1fe;
    color: #00a1fe;
    cursor: pointer;
    display: inline-block;
    padding-bottom: 2px;
    //margin-left: 8px;
    text-decoration: none;
}

.social_button_list_wrapper {
    display: block;
    padding: 20px 0 11px;
}

.social_button {
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
    display: block;
    float: left;
    height: 49px;
    margin-bottom: 15px;
    margin-right: 15px;
    width: 49px;

    &:hover {
        opacity: 0.75;
    }

    &.social_button__facebook {
        background-image: url('./../../../../style/i/popup/social/icon-facebook.png');

        /*
        .social_button__facebook_content {
            display: block;
            width: 100%;
            height: 100%;
            line-height: 0;
            font-size: 0;
        }
        */
    }

    &.social_button__vk {
        background-image: url('./../../../../style/i/popup/social/icon-vk.png');

        /*
        .social_button__vk_content {
            display: block;
            width: 100%;
            height: 100%;
        }
        */
    }
}

.popup__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 2px;
    padding-top: 13px;
}

.text_label {
    position: relative;
    width: 315px;
}

.popup__form_text_input {
    border: 1px solid $mainBorderColor;
    border-radius: 4px;
    box-sizing: border-box;
    display: block;
    font-size: 16px;
    margin-bottom: 21px;
    padding: 18px 21px 16px;
    width: 100%;

    &[type=tel] {
        letter-spacing: 1px;
    }

    &.popup__form_text_input__invalid,
    &:invalid {
        border-color: $mainColor;
    }
}

.popup__form_text_input_wide {
    @extend .popup__form_text_input;

    width: 100%;
}

.popup__subscription {
    background-color: $mainBorderColor;
    border-radius: 5px;
    margin-bottom: 17px;
    padding: 15px 27px 4px;

    :global {
        .section__checkbox {
            clear: none;
            float: left;
            font-size: 16px;
            width: 37%;
        }
    }
}

.popup__subscription_header {
    color: $mainTextColor;
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    padding-bottom: 11px;
}

.popup__button {
    background-color: $mainColor;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 14px;
    margin: 0 auto 42px;
    padding: 21px 0 19px;
    text-align: center;
    text-transform: uppercase;
}

.popup__error_p {
    @extend .popup__p;

    color: $mainColor;
    padding-bottom: 16px;
    text-align: center;
}

.input_error_text {
    background-color: $mainColor;
    border-radius: 4px 0;
    color: #fff;
    font-size: 12px;
    padding: 1px 8px;
    position: absolute;
    right: 0;
    top: 39px;
}

.text_label__phone_prefix {
    color: $mainTextColor;
    font-size: 16px;
    left: 22px;
    letter-spacing: 1px;
    position: absolute;
    top: 19px;
}

.text_label__phone {
    .popup__form_text_input {
        padding-left: 66px;
    }
}

@media screen and (max-width: $tabletWidth) {
    .popup__form {
        display: block;
    }

    .text_label {
        display: block;
        width: 100%;
    }

    .popup__subscription {
        :global {
            .section__checkbox {
                float: none;
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: $mobileWidth) {
    .popup__paper {
        padding-left: 25px;
        padding-right: 25px;
    }
}

