@import './../../../style/css/aaa-var';

.card {
    border: 2px solid $mainColor;
    border-radius: 5px;
    box-sizing: border-box;
    float: right;
    margin-top: 6px;
    min-height: 200px;
    padding: 43px 30px 33px;
    width: 370px;
}

.header {
    border-bottom: 1px solid $mainBorderColor;
    padding-bottom: 21px;
    position: relative;
}

.company_name {
    display: block;
    margin-right: 115px;
}

.company_name_value {
    color: $mainTextColor;
    display: block;
    font-size: 16px;
    font-weight: bold;
    max-width: 100%;
}

.company_logo {
    background-position: right center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 50px;
    position: absolute;
    right: 0;
    top: -23px;
    width: 115px;
}

.your_order {
    color: $mainTextColor;
    display: block;
    font-size: 24px;
    font-weight: bold;
    padding: 24px 10px 16px;
}

.order_data_item {
    color: $mainTextColor;
    display: block;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    padding: 0 12px 8px;

    span {
        color: $secondaryTextColor;
        font-weight: normal;
    }
}

.full_cost {
    color: $mainColor;
    display: block;
    font-size: 24px;
    font-weight: bold;
    padding: 20px 0 32px;
    text-align: center;
}

.button {
    background-color: $mainColor;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin: 0 auto 35px;
    max-width: 256px;
    padding: 18px 10px 17px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-indent: -19px;
    text-transform: uppercase;

    &:before,
    &:after {
        background-color: #fff;
        content: '';
        height: 2px;
        position: absolute;
        right: 22px;
        width: 13px;
    }

    &:before {
        top: 23px;
        transform: rotateZ(45deg);
    }

    &:after {
        top: 31px;
        transform: rotateZ(-45deg);
    }

}

.cash_back {
    background-image: url('./../../../style/i/subscription/cash-back-label.svg');
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 130px auto;
    color: $mainTextColor;
    display: block;
    font-size: 16px;
    font-weight: bold;
    padding: 4px 0 9px 156px;
}

.cash_back_value {
    background-image: url('./../../../style/i/subscription/cash-back-small-label.png');
    background-position: 8px 4px;
    background-repeat: no-repeat;
    background-size: 25px 14px;
    color: $mainColor;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    padding: 0 0 0 38px;
}

.arrow_arrow_holder {
    margin-left: 10px;
    margin-right: 10px;
}

:global .lt-desktop-width {
    :local {
        .card {
            margin-right: 15px;
            padding: 33px 10px;
            width: 326px;
        }

        .cash_back {
            background-position: center 0;
            padding: 55px 0 0;
            text-align: center;
        }
    }
}

:global .lt-tablet-width {
    :local {
        .card {
            clear: both;
            float: none;
            margin: 115px auto 0;
            max-width: 326px;
            width: auto;
        }
    }
}
