@import './../../../style/css/aaa-var';

.main {
    padding-bottom: 77px;
}

body {
    .tab_wrapper {
        border-bottom: 1px solid $mainBorderColor;
        margin-bottom: 107px;
        padding: 34px 0 28px;
    }

    .tab_button {
        border: 1px solid $mainBorderColor;
        border-radius: 47px;
        box-sizing: border-box;
        color: $mainTextColor;
        cursor: pointer;
        float: left;
        font-size: 14px;
        list-style: none;
        margin-right: 63px;
        padding: 15px 10px 14px;
        position: relative;
        text-align: center;
        text-decoration: none;
        width: 148px;

        &:after {
            background-image: url('./../../../style/i/user/arrow-from-to.png');
            background-repeat: no-repeat;
            content: '';
            height: 4px;
            position: absolute;
            right: -45px;
            top: 21px;
            width: 21px;
        }

        &:last-child {
            margin-right: 0;

            &:after {
                content: none;
            }
        }

        &:hover,
        &.tab_button__active {
            background-color: $mainColor;
            color: #fff;
        }
    }

    .tab_panel {
        margin-right: 435px;
    }

    .checkbox_label_phone {
        clear: none;
        display: block;
        margin-bottom: 41px;
        margin-left: 105px;
        margin-top: -18px;
        position: relative;
        width: auto;
        z-index: 1;
    }

    .checkbox_label_subscribe {
        clear: none;
        color: $secondaryTextColor;
        display: block;
        margin-bottom: 41px;
        margin-left: 105px;
        margin-top: -18px;
        position: relative;
        width: auto;
        z-index: 1;
    }

    .radio_label_pay_type {
        clear: none;
        display: block;
        margin-bottom: -8px;
        margin-top: 37px;
        position: relative;
        z-index: 1;
    }
}

.line {
    background-color: $mainBorderColor;
    height: 1px;
    margin-left: 105px;
}

.line__margin_bottom {
    background-color: $mainBorderColor;
    height: 1px;
    margin-bottom: 28px;
    margin-left: 105px;
}

.inner_link {
    border-bottom: 1px dotted $mainColor;
    color: $mainColor;
    display: inline-block;
    padding-bottom: 2px;
    text-decoration: none;

    &:hover {
        border-bottom-color: transparent;
    }
}

.input_block {
    margin-left: 105px;
    padding-bottom: 37px;
    position: relative;
}

.input_label {
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
}

.input_header_icon {
    background-position: center left;
    background-repeat: no-repeat;
    background-size: contain;
    float: left;
    height: 19px;
    position: relative;
    top: 1px;
    width: 27px;
}

.input_node {
    border: 1px solid $mainBorderColor;
    border-radius: 4px;
    box-sizing: border-box;
    color: $mainTextColor;
    display: block;
    font-size: 14px;
    padding: 19px 18px 16px;
    width: 100%;

    &.input_text__invalid {
        border-color: $mainColor;
    }
}

.input_node__phone {
    padding-left: 53px;
}

.input_block__phone_prefix {
    color: $mainTextColor;
    font-size: 14px;
    left: 19px;
    position: absolute;
    top: 58px;
}

.arrow_block_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 105px;
}

.input_block__arrow {
    display: block;
    margin-left: 0;
    width: 28%;
}

.input_node__number {
    display: block;
    max-width: 176px;
    position: relative;

    .input_node {
        box-sizing: border-box;
        display: block;
        text-align: center;
    }
}

.input_node__number__plus,
.input_node__number__minus {
    box-sizing: border-box;
    cursor: pointer;
    height: 100%;
    position: absolute;
    top: 0;
    width: 33.33333%;
    z-index: 1;

    &:before,
    &:after {
        background-color: $mainTextColor;
        content: '';
        height: 2px;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate3d(-50%, -50%, 0);
        width: 16px;
    }

}

.required_note {
    color: $mainTextColor;
    font-size: 14px;
    margin: 20px 0 8px 105px;
}

.input_node__number__plus {
    border-left: 1px solid $mainBorderColor;
    display: block;
    right: 0;

    &:before {
        transform: translate3d(-50%, -50%, 0) rotateZ(90deg);
    }
}

.input_node__number__minus {
    border-right: 1px solid $mainBorderColor;
    display: block;
    left: 0;
}

.navigate_button {
    border: 1px solid #e8ecf0;
    border-radius: 47px;
    box-sizing: border-box;
    color: #1a273b;
    cursor: pointer;
    float: left;
    font-size: 14px;
    margin: 34px 0 0 102px;
    padding: 15px 56px 14px 28px;
    position: relative;
    text-align: left;
    text-decoration: none;

    &:after {
        background-image: url('./../../../style/i/user/arrow-from-to.png');
        background-repeat: no-repeat;
        content: '';
        height: 4px;
        position: absolute;
        right: 26px;
        top: 21px;
        width: 21px;
    }

    &:hover {
        background-color: $mainColor;
        color: #fff;

        &:after {
            background-image: url('./../../../style/i/user/arrow-from-to--active.png');
        }
    }
}

.input_error_text {
    background-color: $mainColor;
    border-radius: 4px 0;
    color: #fff;
    font-size: 12px;
    padding: 4px 8px;
    position: absolute;
    right: 0;
    top: 69px;
}

:global .lt-desktop-width {
    :local {
        .arrow_block_wrapper,
        .input_block {
            margin-left: 15px;
        }

        .arrow_block_wrapper {
            flex-wrap: wrap;
        }

        .input_block__arrow {
            margin-left: 0;
            width: 45%;
        }

        .input_block__arrow:first-child {
            width: 100%;
        }

        .navigate_button {
            margin-left: 15px;
        }

        .tab_wrapper {
            margin-left: 15px;
            margin-right: 15px;
        }

        .tab_panel {
            margin-right: 370px;
        }

        .line,
        .line__margin_bottom,
        .required_note,
        .checkbox_label_subscribe,
        .checkbox_label_phone {
            margin-left: 15px;
        }
    }
}

:global .lt-tablet-width {
    :local {
        .tab_panel {
            margin-right: 0;
        }

        .input_block {
            margin-left: 10px;
            margin-right: 10px;
        }

        .arrow_block_wrapper {
            margin-left: 0;
        }

        .input_block__arrow {
            width: 43%;
        }
    }
}
