@import "./../../../style/css/aaa-var";

.main {
    padding-bottom: 77px;
}

body {
    .tab_wrapper {
        padding: 34px 0 28px;
        border-bottom: 1px solid $mainBorderColor;
        margin-bottom: 107px;
    }

    .tab_button {
        font-size: 14px;
        border: 1px solid $mainBorderColor;
        padding: 15px 10px 14px;
        border-radius: 47px;
        text-decoration: none;
        color: $mainTextColor;
        cursor: pointer;
        box-sizing: border-box;
        width: 148px;
        float: left;
        list-style: none;
        text-align: center;
        margin-right: 63px;
        position: relative;

        &:after {
            position: absolute;
            right: -45px;
            top: 21px;
            content: '';
            width: 21px;
            height: 4px;
            background-repeat: no-repeat;
            background-image: url('./../../../style/i/user/arrow-from-to.png');
        }

        &:last-child {
            margin-right: 0;
            &:after {
                content: none;
            }
        }

        &:hover,
        &.tab_button__active {
            background-color: $mainColor;
            color: #fff;
        }
    }

    .tab_panel {
        margin-right: 435px;
    }

    .checkbox_label_phone {
        display: block;
        clear: none;
        margin-left: 105px;
        position: relative;
        z-index: 1;
        margin-top: -18px;
        margin-bottom: 41px;
        width: auto;
    }

    .checkbox_label_subscribe {
        display: block;
        clear: none;
        margin-left: 105px;
        position: relative;
        z-index: 1;
        margin-top: -18px;
        margin-bottom: 41px;
        color: $secondaryTextColor;
        width: auto;
    }

    .radio_label_pay_type {
        display: block;
        clear: none;
        position: relative;
        z-index: 1;
        margin-top: 37px;
        margin-bottom: -8px;
    }
}

.line {
    height: 1px;
    background-color: $mainBorderColor;
    margin-left: 105px;
}

.line__margin_bottom {
    height: 1px;
    background-color: $mainBorderColor;
    margin-left: 105px;
    margin-bottom: 28px;
}

.inner_link {
    text-decoration: none;
    display: inline-block;
    border-bottom: 1px dotted $mainColor;
    padding-bottom: 2px;
    color: $mainColor;
    &:hover {
        border-bottom-color: transparent;
    }
}

.input_block {
    margin-left: 105px;
    padding-bottom: 37px;
    position: relative;
}

.input_label {
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
}

.input_header_icon {
    float: left;
    width: 27px;
    height: 19px;
    background-position: center left;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    top: 1px;
}

.input_node {
    font-size: 14px;
    color: $mainTextColor;
    padding: 19px 18px 16px;
    border: 1px solid $mainBorderColor;
    border-radius: 4px;
    width: 100%;
    display: block;
    box-sizing: border-box;
}

.input_node__phone {
    padding-left: 53px;
}

.input_block__phone_prefix {
    position: absolute;
    left: 19px;
    top: 58px;
    font-size: 14px;
    color: $mainTextColor;
}

.arrow_block_wrapper {
    margin-left: 105px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.input_block__arrow {
    display: block;
    margin-left: 0;
    width: 28%;
}

.input_node__number {
    display: block;
    position: relative;
    max-width: 176px;
    .input_node {
        display: block;
        box-sizing: border-box;
        text-align: center;
    }
}

.input_node__number__plus,
.input_node__number__minus {
    width: 33.33333%;
    box-sizing: border-box;
    position: absolute;
    z-index: 1;
    height: 100%;
    cursor: pointer;
    top: 0;
    &:before,
    &:after {
        position: absolute;
        content: '';
        width: 16px;
        height: 2px;
        background-color: $mainTextColor;
        left: 50%;
        top: 50%;
        transform: translate3d(-50%, -50%, 0);
    }

}

.required_note {
    color: $mainTextColor;
    margin: 20px 0 8px 105px;
    font-size: 14px;
}

.input_node__number__plus {
    display: block;
    border-left: 1px solid $mainBorderColor;
    right: 0;
    &:before {
        transform: translate3d(-50%, -50%, 0) rotateZ(90deg);
    }
}

.input_node__number__minus {
    display: block;
    border-right: 1px solid $mainBorderColor;
    left: 0;
}

.navigate_button {
    font-size: 14px;
    border: 1px solid #e8ecf0;
    padding: 15px 56px 14px 28px;
    border-radius: 47px;
    text-decoration: none;
    color: #1a273b;
    cursor: pointer;
    box-sizing: border-box;
    float: left;
    text-align: left;
    position: relative;
    margin: 34px 0 0 102px;
    &:after {
        position: absolute;
        right: 26px;
        top: 21px;
        content: '';
        width: 21px;
        height: 4px;
        background-repeat: no-repeat;
        background-image: url('./../../../style/i/user/arrow-from-to.png');
    }

    &:hover {
        color: #fff;
        background-color: $mainColor;
        &:after {
            background-image: url('./../../../style/i/user/arrow-from-to--active.png');
        }
    }
}

.input_error_text {
    position: absolute;
    right: 15px;
    top: 69px;
    font-size: 12px;
    padding: 4px 8px;
    background-color: $mainColor;
    color: #fff;
    border-radius: 4px 0;
}

:global .lt-desktop-width {
    :local {
        .arrow_block_wrapper,
        .input_block {
            margin-left: 15px;
        }

        .arrow_block_wrapper {
            flex-wrap: wrap;
        }

        .input_block__arrow {
            width: 45%;
            margin-left: 0;
        }

        .input_block__arrow:first-child {
            width: 100%;
        }
        .navigate_button {
            margin-left: 15px;
        }

        .tab_wrapper {
            margin-left: 15px;
            margin-right: 15px;
        }

        .tab_panel {
            margin-right: 370px;
        }

        .line,
        .line__margin_bottom,
        .required_note,
        .checkbox_label_subscribe,
        .checkbox_label_phone {
            margin-left: 15px;
        }
    }
}

:global .lt-tablet-width {
    :local {
        .tab_panel {
            margin-right: 0;
        }

        .input_block {
            margin-left: 10px;
            margin-right: 10px;
        }

        .arrow_block_wrapper {
            margin-left: 0;
        }

        .input_block__arrow {
            width: 43%;
        }
    }
}
