@import "./../../style/css/aaa-class";
@import "./../../style/css/aaa-var";
@import "./../../style/css/helper";

.block {
    padding: 100px 0;
    background-color: $mainGray;
}

.block_hug {
    @extend .blog-wide-hug;
}

.article_holder {
    position: relative;
    height: 0;
    padding-bottom: 25.5%;
    max-width: $maxWidth;
    margin: 0 auto;
}

.article_1,
.article_2,
.article_3 {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    top: 0;
    height: 100%;
    position: absolute;
    border-radius: 4px;
    text-shadow: $textShadow;
    &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: $promoArticleBgc;
        z-index: 0;
    }
}

.article_header {
    color: #fff;
    position: absolute;
    max-width: 78%;
    left: 34px;
    //bottom: 93px;
    font-weight: bold;
    font-size: 25px;
    bottom: 71px;
}

.article_sub_header {
    color: #fff;
    position: absolute;
    max-width: 80%;
    left: 34px;
    //bottom: 63px;
    font-size: 16px;
    letter-spacing: -1px;
    opacity: 0.7;
    bottom: 38px;
}

.article_1 {
    left: 0;
    top: 0;
    width: 48.8%;
    .eye_counter {
        left: 35px;
        top: 34px;
    }
    .article_header {
        bottom: 72px;
        line-height: 28px;
        font-size: 18px;
        @include line-cap(4);
        max-height: 108px;
    }
    //.article_sub_header {
    //    bottom: 38px;
    //}
}

.article_2,
.article_3 {
    width: 23.1%;
    .eye_counter {
        left: 35px;
        top: 34px;
    }
    .article_header {
        font-size: 16px;
        line-height: 24px;
        @include line-cap(4);
        max-height: 96px;
    }
}

.article_2 {
    left: 51.3%;
}

.article_3 {
    right: 0;
}

:global .lt-desktop-width {
    :local {
        .block {
            padding: 40px 0;
        }

        .article_holder {
            padding-bottom: 62%;
        }

        .article_1,
        .article_2 {
            width: 48%;
        }

        .article_3 {
            display: none;
        }
    }
}

:global .lt-tablet-width {
    :local {
        .article_holder {
            padding-bottom: 372%;
        }
        .article_1,
        .article_2,
        .article_3 {
            display: block;
            width: 100%;
            height: 32.7%;
            left: 0;
            .article_header,
            .article_sub_header,
            .eye_counter {
                left: 15px;
            }

            .article_header {
                bottom: 69px;
            }

            .article_sub_header {
                bottom: 38px;
            }

        }

        .article_1 {
            top: 0;
        }

        .article_2 {
            top: 33.7%;
        }

        .article_3 {
            top: auto;
            bottom: 0;
        }
    }
}
