@import './../../style/css/aaa-class';
@import './../../style/css/aaa-var';
@import './../../style/css/helper';

.block {
    background-color: $mainGray;
    padding: 100px 0;
}

.block_hug {
    @extend .blog-wide-hug;
}

.article_holder {
    height: 0;
    margin: 0 auto;
    max-width: $maxWidth;
    padding-bottom: 25.5%;
    position: relative;
}

.article_1,
.article_2,
.article_3 {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 4px;
    height: 100%;
    position: absolute;
    text-shadow: $textShadow;
    top: 0;

    &:before {
        background-color: $promoArticleBgc;
        content: '';
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 0;
    }
}

.article_header {
    bottom: 71px;
    color: #fff;
    font-size: 25px;
    //bottom: 93px;
    font-weight: bold;
    left: 34px;
    max-width: 78%;
    position: absolute;
}

.article_sub_header {
    bottom: 38px;
    color: #fff;
    //bottom: 63px;
    font-size: 16px;
    left: 34px;
    letter-spacing: -1px;
    max-width: 80%;
    opacity: 0.7;
    position: absolute;
}

.article_1 {
    left: 0;
    top: 0;
    width: 48.8%;

    .eye_counter {
        left: 35px;
        top: 34px;
    }

    .article_header {

        @include line-cap(4);
        bottom: 72px;
        font-size: 18px;
        line-height: 28px;

        max-height: 108px;
    }
    //.article_sub_header {
    //    bottom: 38px;
    //}
}

.article_2,
.article_3 {
    width: 23.1%;

    .eye_counter {
        left: 35px;
        top: 34px;
    }

    .article_header {

        @include line-cap(4);
        font-size: 16px;
        line-height: 24px;

        max-height: 96px;
    }
}

.article_2 {
    left: 51.3%;
}

.article_3 {
    right: 0;
}

:global .lt-desktop-width {
    :local {
        .block {
            padding: 40px 0;
        }

        .article_holder {
            padding-bottom: 62%;
        }

        .article_1,
        .article_2 {
            width: 48%;
        }

        .article_3 {
            display: none;
        }
    }
}

:global .lt-tablet-width {
    :local {
        .article_holder {
            padding-bottom: 372%;
        }

        .article_1,
        .article_2,
        .article_3 {
            display: block;
            height: 32.7%;
            left: 0;
            width: 100%;

            .article_header,
            .article_sub_header,
            .eye_counter {
                left: 15px;
            }

            .article_header {
                bottom: 69px;
            }

            .article_sub_header {
                bottom: 38px;
            }

        }

        .article_1 {
            top: 0;
        }

        .article_2 {
            top: 33.7%;
        }

        .article_3 {
            bottom: 0;
            top: auto;
        }
    }
}
