@import "./../../../style/css/aaa-var";

.main {
    display: block;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 306px 10px 200px;
    max-width: 636px;
}

.image {
    display: block;
    max-width: 100%;
    margin: 0 auto;
    padding-bottom: 89px;
}

.header {
    color: $mainTextColor;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-bottom: 14px;
}

.text {
    color: $mainTextColor;
    text-align: center;
    font-size: 16px;
    padding-bottom: 44px;
}

.button {
    display: block;
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    width: 226px;
    text-transform: uppercase;
    background-color: $mainColor;
    color: #fff;
    box-sizing: border-box;
    padding: 21px 10px 18px;
    border-radius: 55px;
    letter-spacing: 0.6px;
    text-decoration: none;
    cursor: pointer;
    &:hover {
        opacity: 0.7;
    }
}

:global {
    .lt-desktop-width {
        :local {
            .main {
                padding-top: 120px;
                padding-bottom: 80px;
            }
        }
    }
}
