@import "./../../style/css/aaa-class";
@import "./../../style/css/aaa-var";
@import "./../../style/css/helper";

.block {
    padding: 100px 0;
    background-color: $mainGray;
}

.block_hug {
    @extend .blog-wide-hug;
}

.article_holder {
    position: relative;
    height: 0;
    padding-bottom: 33.5%;
    max-width: $maxWidth;
    margin: 0 auto;
}

.article_1,
.article_2,
.article_3 {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: absolute;
    border-radius: 4px;
}

.article_header {
    color: #fff;
    position: absolute;
    width: 80%;
    left: 34px;
    //bottom: 93px;
    font-weight: bold;
    font-size: 25px;
}

.article_sub_header {
    color: #fff;
    position: absolute;
    width: 80%;
    left: 34px;
    //bottom: 63px;
    font-size: 16px;
}

.article_1 {
    left: 0;
    top: 0;
    width: 57.3%;
    height: 75%;
    .eye_counter {
        left: 35px;
        top: 34px;
    }
    .article_header {
        bottom: 34px;
        font-size: 18px;
        line-height: 26px;
        @include line-cap(2);
        height: 52px;
    }
}

.article_2,
.article_3 {
    right: 0;
    width: 40.1%;
    height: 46.8%;
    .eye_counter {
        left: 35px;
        bottom: 36px;
    }
    .article_header {
        font-size: 19px;
        bottom: 120px;
    }

    .article_sub_header {
        font-size: 14px;
        bottom: 94px;
    }
}

.article_2 {
    top: 0;
}

.article_3 {
    bottom: 0;
}

.text {
    left: 0;
    bottom: 0px;
    width: 57.3%;
    //height: 75%;
    font-size: 14px;
    line-height: 24px;
    color: $mainTextColor;
    position: absolute;
    @include line-cap(4);
    height: 96px;
}

:global .lt-desktop-width {
    :local {
        .block {
            padding: 40px 0;
        }
        .article_holder {
            padding-bottom: 62%;
        }
        .article_1,
        .article_2,
        .article_3 {
            width: 48%;
        }

        .article_1 {
            height: 100%;
            .article_header {
                bottom: 35px;
                @include line-cap(3);
                height: 75px;
                //height: 56px;
            }

            //.article_sub_header {
            //    bottom: 38px;
            //}
        }

        .article_2,
        .article_3 {
            .article_header {
                bottom: 111px;
            }
        }

        .text {
            display: none;
        }

    }
}

:global .lt-tablet-width {
    :local {
        .article_holder {
            padding-bottom: 281%;
        }
        .article_1,
        .article_2,
        .article_3 {
            width: 100%;
            .article_header,
            .article_sub_header,
            .eye_counter {
                left: 15px;
            }
        }

        .article_1 {
            height: 43.5%;
            .article_header {
                bottom: 35px;
            }

            //.article_sub_header {
            //    bottom: 38px;
            //}
        }

        .article_2,
        .article_3 {
            height: 27%;
        }

        .article_2 {
            top: 44.8%;
        }
    }
}
