@import "../../../style/css/var";
@import "../subscription/style.m";
//@import "../../../style/css/helper";

body { // just add authority in front of swiper's classes

    .card {
        padding-top: 31px;
    }

    .card__time {
        font-size: 16px;
        color: $mainTextColor;
        text-align: center;
        border-bottom: 1px solid $mainBorderColor;
        padding-bottom: 19px;
        margin-bottom: 31px;
        &:before {
            content: '';
            display: inline-block;
            width: 13px;
            height: 13px;
            background-repeat: no-repeat;
            background-position: center center;
            background-image: url('./../../../style/i/subscription/time.svg');
            background-size: 10px auto;
            margin-right: 9px;
        }
    }

    .card_short_info_description {
        box-sizing: border-box;
        min-height: 44px;
        padding-top: 0;
        padding-bottom: 0;
    }

    .card_short_info_icon {
        @extend .card_short_info_number;
        min-height: 41px;
        background-position: center center;
        background-repeat: no-repeat;
        transform: scale(0.8);
    }

    .training_date_filter {
        float: left;
        clear: left;
        width: 100%;
        margin-top: 93px;
        box-sizing: border-box;
        padding-left: 92px;
        margin-bottom: -79px;
    }

    :global .lt-desktop-width {
        :local {
            .training_date_filter {
                padding-left: 0;
                margin-top: 50px;
                margin-bottom: 0;
            }
        }
    }

    :global .lt-tablet-width {
        :local {

        }
    }

}
