@import "./../../../style/css/var";

$userInfoWidth: 372px;
$paddingFonUserPanel: 105px;

.left_padded_wrapper {
    position: relative;
    margin-left: $userInfoWidth;
    :global {
        .top-big-banner {
            background-position: right center;
            padding-left: $paddingFonUserPanel;
        }
        .hug.swiper-container {
            clear: none;
        }
        .hug.swiper-container {
            margin-left: $paddingFonUserPanel;
            margin-right: 15px;
        }
        .hug {
            margin-left: $paddingFonUserPanel;
            clear: none;
            margin-right: 15px;
        }

        .top-big-banner {
            .hug {
                margin-left: 0;
            }
        }

    }
}

:global {
    .desktop-width {
        :local .left_padded_wrapper {
            :global .section__tabs-wrapper {
                min-height: 750px;
            }
        }
    }
}

.main_block {
    display: block;
    background-color: #111c2a;
    width: 100%;
    max-width: $userInfoWidth;
    float: left;
    min-height: 100px;
    padding: 54px 0 50px;
    position: absolute;
}

.user_avatar {
    width: 136px;
    height: 136px;
    margin: 0 auto 19px;
    position: relative;
    cursor: pointer;
}

.user_avatar_image {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 136px;
    height: 136px;
    border-radius: 50%;
}

.user_avatar__edit_button {
    background-repeat: no-repeat;
    background-position: center center;
    background-color: $mainColor;
    background-image: url('./../../../style/i/user/icon-edit.png');
    width: 54px;
    height: 54px;
    border-radius: 50%;
    position: absolute;
    right: -10px;
    bottom: -3px;
}

.user_avatar__name {
    color: #fff;
    font-size: 16px;
    text-align: center;
    padding-bottom: 4px;
}

.user_avatar__email {
    display: block;
    font-size: 14px;
    color: #8899ae;
    text-align: center;
    padding-bottom: 4px;
}

.user_avatar__change_password {
    @extend .user_avatar__email;
    border-bottom: 1px solid #8899ae;
    margin-top: 14px;
    display: inline-block;
    padding-bottom: 2px;
    margin-bottom: 12px;
    &:after {
        content: '';
        display: inline-block;
        background-image: url('./../../../style/i/user/icon-lock.png');
        width: 11px;
        height: 14px;
        margin-left: 10px;
    }
    &:hover {
        border-bottom-color: transparent;
    }
}

.user_avatar__logout_button {
    color: #fff;
    background-color: $mainColor;
    max-width: 190px;
    text-align: center;
    padding: 16px 10px 15px 10px;
    box-sizing: border-box;
    font-size: 14px;
    border-radius: 40px;
    margin: 20px auto 10px;
    cursor: pointer;
    .user_avatar__logout_icon {
        display: inline-block;
        width: 13px;
        height: 12px;
        background-repeat: no-repeat;
        background-image: url('./../../../style/i/user/icon-logout.png');
        margin-left: 9px;
        position: relative;
        top: 2px;
    }
}


.extra_info_wrapper {
    padding: 53px 0 31px;
}

.extra_info_block {
    display: block;
    min-height: 172px;
    box-sizing: border-box;
    padding-top: 40px;
}

.extra_info_value {
    text-align: center;
    position: relative;
    color: $mainColor;
    font-size: 44px;
    font-weight: bold;
    padding-bottom: 13px;
    margin-bottom: 11px;
    &:after {
        content: '';
        width: 50px;
        height: 1px;
        background-color: $mainBorderColor;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
    }
}

.extra_info_key {
    text-align: center;
    font-size: 18px;
    color: #fff;
}


:global {
    .lt-desktop-width {
        :local {
            .main_block {
                float: none;
                margin-top: -48px;
                background-color: transparent;
                margin-bottom: -25px;
                position: static;
            }
            .extra_info_wrapper {
                margin-top: 24px;
                background-color: #111c2a;
                padding-top: 0;
            }
            .extra_info_block {
                min-height: 122px;
                padding-top: 28px;

            }
        }
    }
}

