@import '../../../style/css/aaa-var';

$userInfoWidth: 260px;
$paddingFonUserPanel: 50px;

.left_padded_wrapper {
    margin-left: $userInfoWidth;
    position: relative;

    :global {
        /*
        .top-big-banner {
            background-position: right center;
            padding-left: $paddingFonUserPanel;
        }
        */
        .section__header {
            padding-bottom: 40px;
        }

        .hug.swiper-container {
            clear: none;
        }

        .hug.swiper-container {
            margin-left: $paddingFonUserPanel;
            margin-right: 15px;
        }

        .hug {
            clear: none;
            margin-left: $paddingFonUserPanel;
            margin-right: 15px;
        }

        /*
        .top-big-banner {
            .hug {
                margin-left: 0;
            }
        }
        */

    }
}

:global {
    .desktop-width {
        :local {
            .left_padded_wrapper__user {
                :global .section__tabs-wrapper {
                    min-height: 756px;
                }
            }

            .left_padded_wrapper__club {
                :global .section__tabs-wrapper {
                    min-height: 954px;
                }
            }
        }
    }
}

.main_block {
    background-color: #192639;
    box-shadow: 0 806px 0 #192639;
    display: block;
    float: left;
    max-width: $userInfoWidth;
    min-height: 100px;
    padding: 54px 0 50px;
    position: absolute;
    width: 100%;
    z-index: 0;
}

.user_avatar {
    cursor: pointer;
    height: 136px;
    margin: 0 auto 19px;
    position: relative;
    width: 136px;

    &:hover,
    &:active {
        .user_avatar__edit_button {
            opacity: 1;
        }
    }
}

.user_avatar__input_file {
    background-color: #c00;
    border-radius: 50%;
    cursor: pointer;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

.user_avatar_image {
    background-color: #111c2a;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    height: 136px;
    width: 136px;
}

.user_avatar__edit_button {
    background-color: $mainColor;
    background-image: url('./../../../style/i/user/icon-edit.png');
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 50%;
    bottom: -3px;
    cursor: pointer;
    font-size: 0;
    height: 54px;
    opacity: 0;
    position: absolute;
    right: -10px;
    text-indent: -100px;
    width: 54px;
}

.user_avatar__name {
    color: #fff;
    font-size: 16px;
    padding: 0 10px 4px;
    text-align: center;
}

.user_avatar__email {
    color: #8899ae;
    display: block;
    font-size: 14px;
    padding-bottom: 4px;
    text-align: center;
}

.user_avatar__change_password {
    @extend .user_avatar__email;

    border-bottom: 1px solid #8899ae;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 12px;
    margin-top: 14px;
    padding-bottom: 2px;

    &:after {
        background-image: url('./../../../style/i/user/icon-lock.png');
        content: '';
        display: inline-block;
        height: 14px;
        margin-left: 10px;
        width: 11px;
    }

    &:hover {
        border-bottom-color: transparent;
    }
}

.user_avatar__logout_button {
    background-color: $mainColor;
    border-radius: 40px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    margin: 20px auto 10px;
    max-width: 190px;
    padding: 16px 10px 15px;
    text-align: center;

    .user_avatar__logout_icon {
        background-image: url('./../../../style/i/user/icon-logout.png');
        background-repeat: no-repeat;
        display: inline-block;
        height: 12px;
        margin-left: 9px;
        position: relative;
        top: 2px;
        width: 13px;
    }
}


.extra_info_wrapper {
    padding: 53px 0 31px;
}

.extra_info_block {
    box-sizing: border-box;
    display: block;
    min-height: 172px;
    padding-top: 40px;
}

.extra_info_value {
    color: $mainColor;
    font-size: 44px;
    font-weight: bold;
    margin-bottom: 11px;
    padding-bottom: 13px;
    position: relative;
    text-align: center;

    &:after {
        background-color: $mainBorderColor;
        bottom: 0;
        content: '';
        height: 1px;
        left: 50%;
        position: absolute;
        transform: translateX(-50%);
        width: 50px;
    }
}

.extra_info_key {
    color: #fff;
    font-size: 18px;
    text-align: center;
}

:global {
    .lt-desktop-width {
        :local {
            .main_block {
                background-color: transparent;
                box-shadow: none;
                float: none;
                margin-bottom: -25px;
                margin-top: -48px;
                position: static;
            }

            .extra_info_wrapper {
                background-color: #111c2a;
                margin-top: 24px;
                padding-top: 0;
            }

            .extra_info_block {
                min-height: 122px;
                padding-top: 28px;

            }
        }
    }
}

