@import './../../style/css/aaa-var';

.block {
    background-color: $mainGray;
    display: block;
    padding: 21px 0 17px;

    &:after {
        clear: both;
        content: '';
        display: block;
    }
}

.link {
    color: $mainHeaderColor;
    float: left;
    font-size: 14px;
    padding-bottom: 15px;
    padding-top: 15px;
    text-decoration: none;

    &:hover {
        color: $mainActiveColor;
    }

    &:last-child {
        color: $mainTextColor;
    }
}

.arrow {
    background-image: url('./image/arrow.png');
    background-position: center center;
    background-repeat: no-repeat;
    float: left;
    height: 4px;
    padding: 41px 7px 0;
    width: 21px;
}
