$mainFontFamily: 'Ubuntu', sans-serif;
$mainColor: #fc1050;
$mainBorderColor: #e8ecf0;
$mainTextColor: #1a273b;
$secondaryTextColor: #9399a1;
$placeholderTextColor: #babec3;
$tabletWidth: 1265px;
$mobileWidth: 750px;
