@import "aaa-var";

.hidden {
    display: none !important;
}

.disabled {
    opacity: 0.5;
    pointer-events: none; // see Can I Use
}

.clear-self {
    &:after {
        display: block;
        content: '';
        clear: both;
    }
}

.clear-full {
    clear: both;
    &:after {
        display: block;
        content: '';
        clear: both;
    }
}

.ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.d-block {
    display: block;
}

.ta-center {
    text-align: center;
}

.fl-l {
    float: left;
}

.fl-r {
    float: right;
}

.fl-n {
    float: none;
}

.tablet-only {
    display: none;
}

.square-image {
    display: block;
    width: 100%;
    height: auto;
}

.scroll-bar {
    &::-webkit-scrollbar {width:6px;height:6px;}
    &::-webkit-scrollbar-thumb {background-color:rgb(207,207,207);}
    &::-webkit-scrollbar-track {background:rgb(244,244,244);}

    &::-moz-scrollbar {width:6px;height:6px;}
    &::-moz-scrollbar-thumb {background-color:rgb(207,207,207);}
    &::-moz-scrollbar-track {background:rgb(244,244,244);}

    &::-ms-scrollbar {width:6px;height:6px;}
    &::-ms-scrollbar-thumb {background-color:rgb(207,207,207);}
    &::-ms-scrollbar-track {background:rgb(244,244,244);}

    &::-o-scrollbar {width:6px;height:6px;}
    &::-o-scrollbar-thumb {background-color:rgb(207,207,207);}
    &::-o-scrollbar-track {background:rgb(244,244,244);}

    &::scrollbar {width:6px;height:6px;}
    &::scrollbar-thumb {background-color:rgb(207,207,207);}
    &::scrollbar-track {background:rgb(244,244,244);}
}

.json {
    word-break: break-all;
}

.main-text-color {
    color: $mainTextColor;
}

.main-color {
    color: $mainColor;
}

.error-input {
    box-shadow: 0 0 3px 2px rgba(204, 0, 0, 0.75);;
}

@media screen and (max-width: $tabletWidth) {
    .tablet-only {
        display: block;
    }
}

.mobile-only {
    display: none;
}

@media screen and (max-width: $mobileWidth) {
    .mobile-only {
        display: block;
    }
}

// for debug only
.json {
    word-break: break-word;
}

.bold {
    font-weight: bold;
}

.desktop-width {
    .fade-out {
        opacity: 0;
        transition: ease-out opacity 0.3s;
        &.fade-out_visible {
            opacity: 1;
        }
    }
}
