@import 'aaa-var';

.bread-crumbs {
    @extend .clear-full;

    color: #fff;
    display: block;
    //background-color: #c00;
    font-size: 14px;
    padding: 61px 0 49px 102px;
}

.bread-crumbs__link {
    color: inherit;
    float: left;
    text-decoration: none;

    &:hover {
        color: $mainColor;
    }
}

.bread-crumbs__arrow {
    float: left;
    padding: 0 10px;
    position: relative;

    &:before {
        content: '\02192';
    }
}
