.category-icon {
    background-image: url('./../i/category/strength.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.category-icon:hover {
    background-image: url('./../i/category/strength-active.svg');
}

$list: gym yoga cardio combat mind strength dancing games mothers after;

@each $item in $list {
    //$i: index($list, $item);
    .category-icon--#{$item} {
        background-image: url('./../i/category/#{$item}.svg');
    }

    .category-icon--#{$item}:hover {
        background-image: url('./../i/category/#{$item}-active.svg');
    }

    .clubs-catalog-filter__header-icon--#{$item},
    .clubs-catalog-list-item__header--icon-#{$item} {
        background-image: url('./../i/category/#{$item}.svg');

        &:before { // just preload 'hover' image
            background-image: url('./../i/category/#{$item}-active.svg');
            content: '';
            height: 1px;
            opacity: 0;
            position: absolute;
            width: 1px;
        }
    }

    .clubs-catalog-filter__header:hover {
        .clubs-catalog-filter__header-icon--#{$item} {
            background-image: url('./../i/category/#{$item}-active.svg');
        }
    }
}
