@import 'aaa-var';

.clubs-catalog-date-filter {
    display: block;
    margin-top: -16px;
    padding-bottom: 75px;
    position: relative;
    width: 100%;

    &:before {
        background-color: $mainBorderColor;
        content: '';
        height: 1px;
        left: 0;
        position: absolute;
        top: 67px;
        width: 100%;
        z-index: 0;
    }
}

.clubs-catalog-date-filter__swipe-arrow {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
    display: none;
    height: 110px;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: -35px;
    width: 36px;
    z-index: 1;

    &:before,
    &:after {
        background-color: $mainColor;
        content: '';
        height: 1px;
        position: absolute;
        right: -2px;
        top: 10px;
        width: 19px;
    }

    &:before {
        top: 46px;
        transform: rotateZ(45deg);
    }

    &:after {
        top: 59px;
        transform: rotateZ(-45deg);
    }
}

.clubs-catalog-date-filter__date {
    cursor: pointer;
    min-height: 77px;
    position: relative;
    user-select: none;
    width: 14.285714%;

    &.clubs-catalog-date-filter__date--active {
        &:before {
            border: 3px solid $mainColor;
            border-left-color: transparent;
            border-top-color: transparent;
            content: '';
            height: 0;
            left: 50%;
            margin-left: -3px;
            position: absolute;
            top: 66px;
            transform: rotateZ(45deg);
            width: 0;
        }

        &:after {
            background-color: $mainColor;
            content: '';
            height: 2px;
            left: 50%;
            margin-left: -39px;
            position: absolute;
            //bottom: 8px;
            top: 67px;
            width: 78px;
        }

        .clubs-catalog-date-filter__date-day {
            color: $mainTextColor;
            font-weight: bold;
        }

        .clubs-catalog-date-filter__date-date {
            color: $mainColor;
        }
    }

    .clubs-catalog-date-filter__date-content {
        margin-top: 28px;
    }

    .clubs-catalog-date-filter__date-time-wrapper {
        padding-top: 20px;
    }

    .clubs-catalog-date-filter__date-time {
        color: $mainTextColor;
        display: block;
        font-size: 14px;
        padding-bottom: 7px;
        text-align: center;
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }

        &.clubs-catalog-date-filter__date-time--active {
            color: $mainColor;
        }
    }
}

.clubs-catalog-date-filter__date-day {
    color: $secondaryTextColor;
    display: block;
    font-size: 16px;
    padding-bottom: 5px;
    text-align: center;
    text-transform: capitalize;
}

.clubs-catalog-date-filter__date-date {
    color: $secondaryTextColor;
    font-size: 14px;
    text-align: center;
    text-transform: capitalize;
}

.lt-desktop-width {
    .clubs-catalog-date-filter {
        padding-bottom: 26px;
    }
}

.lt-tablet-width {
    .clubs-catalog-date-filter {
        margin-top: 0;
    }

    .clubs-catalog-date-filter__date {
        width: 100px;
    }

    .clubs-catalog-date-filter__swipe-arrow {
        display: block;
    }
}
