@import "./var";

.clubs-catalog {
    display: block;
    padding: 0 10px;
}

.clubs-catalog-map {
    padding: 39px 0 64px;
    width: 800px;
    height: 800px;
}

.clubs-catalog__left-part {
    float: left;
}

.clubs-catalog__right-part {
    margin: 0 0 0 370px;
    padding: 35px 0 0 0;
}

.lt-desktop-width {
    .clubs-catalog__right-part {
        margin: 0;
    }
}
