@import 'aaa-var';

.header-menu-wrapper--desktop {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    //background-color: #c00;
    .hug {
        max-width: 1820px; // 1920 - 50 * 2
    }
}

.header-menu {
    margin: 0 0 0 323px;
    position: relative;
    right: 0;
    top: 0;
    z-index: 1;
}

.header-menu__link {
    color: #fff;
    float: left;
    font-size: 16px;
    margin: 65px 27px 0;
    padding: 10px 0 3px;
    text-decoration: none;

    &.header-menu__link--active,
    &:hover {
        color: $mainColor;
    }
}

.header-menu__button {
    @extend .header-menu__link;
    border-bottom: 1px dotted transparent;
    cursor: pointer;
    float: right;
    font-weight: bold;
    margin-left: 112px;
    margin-right: 25px;

    position: relative;

    &:hover {
        border-bottom-color: #fff;
        color: #fff;
    }

    &:before {
        background-repeat: no-repeat;
        border: 2px solid #fff;
        border-radius: 50%;
        box-sizing: border-box;
        content: '';
        height: 50px;
        left: -69px;
        position: absolute;
        top: -5px;
        width: 50px;
    }

    &.header-menu__button--login {
        //min-width: 126px;
        max-width: 136px;

        &:before {
            background-image: url('./../i/header/icon-signin.svg');
            background-position: center 15px;
            background-size: 13px auto;
        }
    }

    /*
    &.header-menu__button--call {
        &:before {
            background-image: url('./../i/header/icon-phone.svg');
            background-position: center center;
            background-size: 13px auto;
        }
    }
    */
}

.header-menu__button-text {
    display: block;
    font-size: inherit;
    font-weight: inherit;
}

// mobile part
.header-mobile-menu__menu-button {
    cursor: pointer;
    height: 52px;
    position: absolute;
    right: 5px;
    top: 28px;
    user-select: none;
    width: 52px;
    z-index: 5;

    &:after,
    &:before {
        background-color: #fff;
        box-shadow: 0 -8px 0 #fff, 0 8px 0 #fff;
        content: '';
        height: 3px;
        left: 10px;
        position: absolute;
        top: 27px;
        width: 31px;
    }

    &.header-mobile-menu__menu-button--open {
        right: 3px;

        &:after,
        &:before {
            box-shadow: none;
            transform: rotateZ(45deg);
        }

        &:after {
            transform: rotateZ(-45deg);
        }
    }
}

.header-mobile-menu {
    background-color: #192839;
    display: block;
    padding-top: 91px;
    position: absolute;
    right: 0;
    top: 0;
    width: 260px;
    z-index: 4;
}

.header-mobile-menu__link-list {
    clear: both;
    display: block;
    min-height: 299px;
    padding: 20px 0 10px;
}

.header-mobile-menu__link {
    color: #fff;
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin: 0 0 4px 88px;
    padding: 11px;
    position: relative;
    text-decoration: none;

    &:before {
        background-color: transparent;
        content: '';
        height: 2px;
        left: -60px;
        position: absolute;
        top: 19px;
        width: 52px;
    }

    &:active,
    &.header-mobile-menu__link--active {
        color: $mainColor;

        &:before {
            background-color: $mainColor;
        }
    }
}

.header-mobile-menu__button {
    clear: both;
    color: #fff;
    cursor: pointer;
    float: left;
    font-size: 16px;
    font-weight: bold;
    margin: 15px 20px 37px 102px;
    padding: 10px 0;
    //@extend .header-mobile-menu__link;
    position: relative;
    text-decoration: none;

    &:before {
        background-repeat: no-repeat;
        border: 2px solid #fff;
        border-radius: 50%;
        box-sizing: border-box;
        content: '';
        height: 50px;
        left: -69px;
        position: absolute;
        top: -6px;
        width: 50px;
    }

    &.header-mobile-menu__button--login {
        &:before {
            background-image: url('./../i/header/icon-signin.svg');
            background-position: center 15px;
            background-size: 13px auto;
        }
    }

    /*
    &.header-mobile-menu__button--call {
        &:before {
            background-image: url('./../i/header/icon-phone.svg');
            background-position: center center;
            background-size: 13px auto;
        }
    }
    */
}

.header-mobile-menu__fade {
    background-color: rgba(29, 34, 40, 0.55);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
}

@media screen and (max-width: $mobileWidth) {
    //.header--mobile {
    .header-mobile-menu__menu-button {
        &.header-mobile-menu__menu-button--open {
            right: 7px;
            top: 22px;
        }
    }
    //}
}

.header-menu-simple-wrapper {
    background-color: #192739;
    height: 101px;

    .header__logo {
        margin-top: 21px;
    }

    .header-menu__link {
        margin-top: 31px;
    }

    .header,
    .header.header--mobile {
        height: auto;
    }
}

@media screen and (max-width: $mobileWidth) {
    .header-menu-simple-wrapper {
        height: 90px;

        .header__logo {
            margin-top: 26px;
        }
    }

}
