@import "aaa-var";

.header-slider {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    z-index: 0; // to be under header menu
    &:hover {
        .header-slider__slide--back {
            .header-slider__slide-image {
                transform: scale(1.1, 1.1);
            }
        }
    }
}

.header-slider__slide {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    overflow: hidden;
    &.header-slider__slide--active {
        .header-slider__slide-image {
            opacity: 1;
        }
    }
    &.header-slider__slide--back {
        .header-slider__slide-image {
            opacity: 1;
        }
    }
}

.header-slider__slide-image {
    @extend .header-slider__slide;
    opacity: 0;
    background-position: center center;
    background-size: cover;
    transition: all 1s ease-out;
}

.header-slider__slide-pattern {
    @extend .header-slider__slide;
    background-image: url('./../i/header/pattern.png'), linear-gradient(to bottom, #1a2a3a 0%, rgba(26, 42, 58, 0) 100%);
    background-repeat: repeat, repeat-x;
    z-index: 5; // to be over all slides, increase if you need
}

.header-slider__navigation-hug {
    margin: 0 auto;
    max-width: 1540px;
}

.header-slider__navigation {
    position: absolute;
    z-index: 10; // to be over pattern
    left: 0;
    top: 698px;
    width: 100%;

    .slider-navigation-item {
        display: block;
        text-decoration: none;
        padding-top: 100px;
        font-size: 28px;
        font-weight: bold;
        width: 260px;
        cursor: pointer;
        opacity: 0.7;
        text-transform: uppercase;
        text-align: center;
        background-repeat: no-repeat;
        color: #fff;
        transition: all ease-out 0.3s;
        position: relative;
        &:before {
            content: '';
            background-color: $mainColor;
            height: 2px;
            width: 68px;
            position: absolute;
            left: 94px;
            top: 148px;
        }

        &:hover {
            transform: translateY(-50px);
            opacity: 1;
            .slider-navigation-item__button {
                opacity: 1;
                &:hover {
                    opacity: 0.8;
                }
            }
        }
    }

    .slider-navigation-item--left {
        background-position: center 21px;
        background-image: url('./../i/header/slider/icon_club_white.svg');
        float: left;
        background-size: 64px auto;
        &.slider-navigation-item--active,
        &:hover {
            background-image: url('./../i/header/slider/icon_club_color.svg');
        }
    }

    .slider-navigation-item--right {
        background-position: center 22px;
        background-image: url('./../i/header/slider/icon_traning_white.svg');
        background-size: 69px auto;
        float: right;
        &.slider-navigation-item--active,
        &:hover {
            background-image: url('./../i/header/slider/icon_traning_color.svg');
        }
    }

    .slider-navigation-item--center {
        background-position: center 25px;
        background-size: 69px auto;
        float: none;
        margin: 0 auto;
        background-image: url('./../i/header/slider/icon_abonement_white.svg');
        &.slider-navigation-item--active,
        &:hover {
            background-image: url('./../i/header/slider/icon_abonement_color.svg');
        }
    }

    .slider-navigation-item__button {
        opacity: 0;
        transition: all ease-out 0.5s;
        color: #fff;
        padding: 14px 10px;
        font-size: 14px;
        line-height: 20px;
        position: relative;
        border-radius: 25px;
        text-align: center;
        display: block;
        width: 166px;
        margin: 34px auto 0;
        background: $mainColor;
        cursor: pointer;
        text-decoration: none;
    }
}

.header-slider__promo-texts {
    @extend .header-slider__navigation;
    z-index: 9; // to be under .header-slider__navigation
    top: 415px;
    .slider-navigation-item__button { // for mobile only
        display: none;
    }
}

.header-slider__promo-texts-hug {
    margin: 0 auto;
    max-width: 1340px;
    padding: 0 100px;
}

.header-slider__promo-text {
    position: absolute;
    top: 0;
    opacity: 0;
    transform: translateY(100px);
    color: #fff;
    font-weight: bold;
    font-size: 48px;
    line-height: 62px;
    transition: all ease-out 0.5s;
    pointer-events: none;
    &.header-slider__promo-text--active {
        pointer-events: auto;
        opacity: 1;
        transform: translateY(0);
    }
    &:before {
        content: '';
        height: 3px;
        width: 142px;
        background: $mainColor;
        position: absolute;
        left: -192px;
        top: 30px;
    }
}

.header-slider__navigation--mobile {
    top: 458px;

    .slider-navigation-item__button {
        display: none;
    }

    .header-slider__navigation-hug {
        padding: 0 30px;
    }

    .slider-navigation-item {
        width: 190px;
        font-size: 20px;
        padding-top: 95px;
        opacity: 0.85;
        &:before {
            content: none;
        }

        &:hover {
            transform: translateY(0);
            opacity: 1;
        }

        &.slider-navigation-item--active {
            transform: translateY(-15px);
            opacity: 1;
        }
    }

    .slider-navigation-item--left {
        background-size: 56px auto;
    }

    .slider-navigation-item--right {
        background-position: center 26px;
        background-size: 57px auto;
    }

    .slider-navigation-item--center {
        background-size: 59px auto;
    }
}

.header-slider__promo-texts--mobile {
    z-index: 9; // to be under .header-slider__navigation
    top: 207px;

    .header-slider__promo-texts-hug {
        padding: 0 141px;
    }

    .slider-navigation-item__button {
        display: block;
        opacity: 1;
        margin: 30px 0 0 0;
        font-weight: bold;
        font-size: 16px;
        padding: 18px 19px 16px;
    }

    .header-slider__promo-text {
        font-size: 34px;
        line-height: 44px;
        text-transform: uppercase;

        &.header-slider__promo-text--active {
            opacity: 1;
            transform: translateY(0);
            z-index: 1;
        }
        &:before {
            width: 91px;
            left: -123px;
            top: 20px;
        }
    }

}

@media screen and (max-width: $tabletWidth) {
    .header-slider__search {
        width: 534px;
        top: 346px;
    }
}

@media screen and (max-width: $mobileWidth) {
    .header--mobile {

        & ~ .header-mobile-menu__menu-button {
            top: 24px;
            right: 2px;
            width: 42px;
            height: 42px;
            &:after,
            &:before {
                width: 23px;
                height: 2px;
                top: 22px;
                left: 11px;
                box-shadow: 0 -6px 0 #fff, 0 6px 0 #fff;
            }

            &.header-mobile-menu__menu-button--open {
                //right: 3px;
                &:after,
                &:before {
                    box-shadow: none;
                }
            }
        }

        .header-slider__navigation--mobile {
            top: 493px;
        }

        .header-slider__navigation-hug {
            padding: 0 10px;
        }

        .slider-navigation-item {
            width: 93px;
            color: transparent;
            font-size: 16px;
            padding-top: 94px;
            &.slider-navigation-item--active {
                color: #fff;
            }
        }

        .slider-navigation-item--left {
            background-size: 49px auto;
        }

        .slider-navigation-item--right {
            background-size: 51px auto;
            text-indent: -9px;
        }

        .slider-navigation-item--center {
            background-size: 51px auto;
            text-indent: -13px;
        }

        .header-slider__promo-texts--mobile {
            top: 209px;

            .header-slider__promo-text {
                font-size: 26px;
                line-height: 36px;
                left: 50%;
                text-align: center;
                transform: translate3d(-50%, 60px, 0);

                &.header-slider__promo-text--active {
                    transform: translate3d(-50%, 0, 0);
                }

                &:before {
                    left: 50%;
                    width: 90px;
                    margin-left: -45px;
                    top: auto;
                    bottom: 84px;
                }
            }
        }

        .header-slider__promo-text-br {
            display: block;
        }

        .slider-navigation-item__button {
            margin: 57px auto 0;
        }
    }
}

.no-transition {
    .header-slider__slide-image,
    .slider-navigation-item,
    .header-slider__search,
    .header-slider__promo-text,
    .slider-navigation-item__button {
        transition: none;
    }
}
