@import 'aaa-var';

.club-header-rating {
    display: block;
    float: left;
    margin: -60px 0 0 98px;
}

.club-header-rating__stars {
    float: left;
    width: 36 * 5px;
}

.club-header-rating__star {
    background-image: url('./../i/club/star.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 30px auto;
    float: left;
    height: 36px;
    width: 36px;

    &.club-header-rating__star-active {
        background-image: url('./../i/club/star-active.svg');
    }
}

.club-header-reviews {
    color: #fff;
    float: left;
    font-size: 20px;
    padding: 5px 0 0 31px;
}

.club-header__services {
    float: right;
    margin-top: -34px;

    .club-header__service {
        color: #fff;
        float: left;
        font-size: 16px;
        font-weight: bold;
        margin-left: 36px;
        padding-left: 80px;
        position: relative;

        &:before {
            background-color: $mainColor;
            background-position: center center;
            background-repeat: no-repeat;
            border-radius: 30px;
            content: '';
            height: 60px;
            left: 0;
            position: absolute;
            top: -20px;
            width: 60px;
        }

        &.club-header__service--subscriptions {
            &:before {
                background-image: url('./../i/club/icon_abonement_white.svg');
                background-position: center 14px;
                background-size: 30px auto;
            }
        }

        &.club-header__service--trainings {
            &:before {
                background-image: url('./../i/club/icon_traning_white.svg');
                background-position: center 18px;
                background-size: 32px auto;
            }
        }
    }

}

@media screen and (max-width: $tabletWidth) {
    .club-header-rating {
        margin: -6px 0 0 14px;
    }

    .club-header-rating__stars {
        width: 30 * 5px;
    }

    .club-header-rating__star {
        background-size: 24px auto;
        height: 30px;
        width: 30px;
    }

    .club-header-reviews {
        font-size: 17px;
        padding-left: 28px;
    }
}

@media screen and (max-width: $mobileWidth) {
    .club-header-rating {
        margin: -44px 0 0 6px;
    }

    .club-header-rating__stars {
        width: 24 * 5px;
    }

    .club-header-rating__star {
        background-size: 20px auto;
        height: 24px;
        width: 24px;
    }

    .club-header-reviews {
        padding: 2px 0 0 12px;
    }
}
