@import "aaa-var";

body {
    overflow-y: scroll;
}

.hug {
    @extend .clear-full;
    margin: 0 auto;
    max-width: 1170px;
    &.hug--simple-page {
        padding-top: 70px;
    }

    &.hug--section {
        padding-bottom: 100px;
    }
    &.hug--no-clear {
        &:after {
            clear: none;
            display: none;
        }
    }
}

.lt-tablet-width {
    .hug {
        &.hug--simple-page {
            padding-top: 35px;
        }
        &.hug--section {
            padding-bottom: 40px;
        }
    }
}



