@import 'helper';

.gm-fullscreen-control {
    display: none; // Hide default fullscreen button on react-google-maps
}

.map-point {
    background-image: url('./../i/map/map-pin.svg');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: contain;
    height: 32px;
    left: 13px;
    position: relative;
    top: -32px;
    width: 26px;
    z-index: 0;
}

.map-point__content {
    background-color: #fff;
    bottom: 16px;
    box-shadow: 0 -3px 9px rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    display: none;
    //opacity: 0.5;
    margin: 0 0 0 -241px;
    min-height: 200px;
    padding: 17px 14px 8px;
    position: absolute;
    width: 500px;

    &:after {
        border: 20px solid transparent;
        border-bottom-width: 0;
        border-top-color: #fff;
        bottom: -16px;
        content: '';
        height: 0;
        left: 50%;
        margin-left: -16px;
        position: absolute;
        width: 0;
    }

    .clubs-catalog-list-item__available-training-item {
        clear: left;
        float: left;
    }

    .clubs-catalog-list-item__header,
    .clubs-catalog-list-item__address {
        margin-left: 180px;
        margin-right: 0;
    }

    .clubs-catalog-list-item__address {
        padding-bottom: 10px;
    }

    .clubs-catalog-list-item__description {
        clear: both;
        padding-bottom: 2px;

        p {
            @include line-cap(4);
        }
    }

    .clubs-catalog-list-item__logo {
        background-position: left top;
        float: left;
        left: 18px;
        margin-bottom: 10px;
        position: static;
        top: 18px;
    }

    .clubs-catalog-list-item__available-training-club-address,
    .clubs-catalog-list-item__available-training-club-name {
        max-width: 100%;
        width: 416px;
    }
}

.map-point:hover {
    background-image: none;
    z-index: 1;

    .map-point__content {
        display: block;
    }
}

.map-point--subscriptions {
    .clubs-catalog-list-item__available-training-item {
        padding-bottom: 28px;
    }

    .clubs-catalog-list-item__description {
        padding-bottom: 12px;

    }
}
