@import 'aaa-var';

.our-partners {
    display: block;
    overflow: hidden;

    .our-partners__partner-list {
        @extend .clear-full;

        display: block;
        padding: 20px 0 37px;
    }

    .our-partners__partner-item {
        float: left;
        height: 226px;
        position: relative;
        width: 25%;

        &:before {
            background-color: $mainBorderColor;
            content: '';
            height: 100%;
            left: -1px;
            position: absolute;
            top: 0;
            width: 1px;
        }

        /*
        &:hover {
            .our-partners__partner-image {
                opacity: 1;
                filter: grayscale(0);
            }
        }
        */
    }

    .our-partners__partner-image {
        left: 50%;
        max-height: 90%;
        //opacity: 0.75;
        //filter: grayscale(1);
        max-width: 90%;
        position: absolute;
        top: 50%;
        transform: translate3d(-50%, -50%, 0);
        transition: 0.5s ease-out all;
    }

    .our-partners__divider {
        background-color: $mainBorderColor;
        clear: both;
        float: left;
        height: 1px;
        margin: 19px 0;
        width: 100%;
    }
}

@media screen and (max-width: $tabletWidth) {
    .our-partners {
        .our-partners__partner-list {
            overflow: hidden;
        }

        .our-partners__divider {
            display: none;
        }

        .our-partners__partner-item {
            height: 248px;
            width: 50%;

            &:after {
                background-color: $mainBorderColor;
                border-left: 19px solid #fff;
                border-right: 19px solid #fff;
                box-sizing: border-box;
                content: '';
                display: block;
                height: 1px;
                position: relative;
                top: 248px;
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: $mobileWidth) {
    .our-partners {
        .our-partners__partner-item {
            width: 100%;
        }
    }
}


