@import 'aaa-var';

.promo-steps {
    background-color: #192739;
    max-width: 100%;
    min-height: 339px;
    overflow: hidden;
    padding-bottom: 81px;
    padding-top: 82px;
    position: relative;
    //border-top: 88px solid #fff;

    .promo-steps__image {
        bottom: 0;
        left: 50%;
        margin-left: 130px;
        position: absolute;
        width: 520px;
    }

    /*
    .hug {
        position: relative;
    }
    */

    .section__header {
        padding-bottom: 20px;
        //left: -32px;
    }

    .promo-step-card {
        float: left;
        position: relative;
        width: 177px;

        .promo-step-card__number {
            color: #475e8a;
            display: none;
            font-family: 'Anonymous Pro', monospace;
            font-size: 136px;
            font-weight: bold;
            left: 0;
            opacity: 0.5;
            //text-align: center;
            //width: 100%;
            position: absolute;
            text-indent: 4px;
            top: 0;
            z-index: 0;
        }

        .promo-step-card__icon {
            background-repeat: no-repeat;
            color: #475e8a;
            float: left;
            height: 100px;
            position: relative;
            top: 75px;
            width: 100%;
            z-index: 1;

            &.promo-step-card__icon--step-1 {
                background-image: url('./../i/promo-steps/icon_step1.svg');
                background-position: 67px 21px;
                background-size: 63px auto;
            }

            &.promo-step-card__icon--step-2 {
                background-image: url('./../i/promo-steps/icon_step2.svg');
                background-position: center 23px;
                background-size: 65px auto;
            }

            &.promo-step-card__icon--step-3 {
                background-image: url('./../i/promo-steps/icon_step3.svg');
                background-position: center 21px;
                background-size: 65px auto;
            }

            &.promo-step-card__icon--step-4 {
                background-image: url('./../i/promo-steps/icon_step4.svg');
                background-position: center 29px;
                background-size: 73px auto;
            }
        }

        .promo-step-card__name {
            color: #fff;
            font-size: 16px;
            font-weight: bold;
            padding-top: 201px;
            text-align: center;
        }
    }
}

/*
.promo-steps-image-wrapper {
    height: 555px;
    margin-bottom: -505px;
    margin-top: -50px;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
*/

@media screen and (max-width: $tabletWidth) {
    .promo-steps {
        padding-top: 69px;

        .promo-steps__image {
            display: none;
        }

        .promo-step-card {
            padding-bottom: 24px;
            width: 50%;

            .promo-step-card__number {
                display: block;
                text-align: center;
                width: 100%;
            }

            .promo-step-card__icon {
                &.promo-step-card__icon--step-1 {
                    background-position: center 21px;
                }

                &.promo-step-card__icon--step-2 {
                    background-position: center 29px;
                }

                &.promo-step-card__icon--step-3 {
                    background-position: center 25px;
                }

                &.promo-step-card__icon--step-4 {
                    background-position: center 38px;
                }

            }
        }
    }

    /*
    .promo-steps-image-wrapper {
        display: none;
    }
    */
}

@media screen and (max-width: $mobileWidth) {
    .promo-steps {
        .promo-step-card {
            width: 100%;
        }
    }
}
