.subscriptions-catalog {
    .clubs-catalog-list-item__header,
    .clubs-catalog-list-item__address {
        margin-right: 0;
    }
}

.desktop-width {
    .subscriptions-catalog {
        .clubs-catalog-list,
        .clubs-catalog__right-part {
            padding-top: 0;
        }
    }
}

.lt-desktop-width {
    .subscriptions-catalog {
        .clubs-catalog-list-item__available-training {
            .clubs-catalog-list-item__available-training-item {
                clear: both;
                float: none;

                .clubs-catalog-list-item__available-training-club-address,
                .clubs-catalog-list-item__available-training-club-name {
                    max-width: 100%;
                    width: 100%;
                }

                &:first-child {
                    margin-right: 0;
                    padding-right: 0;

                    &:before {
                        display: none;
                        margin-right: 26px;
                    }
                }

                .clubs-catalog-list-item__rating-stars {
                    padding: 11px 10px 10px 50px;
                }

                .clubs-catalog-list-item__reviews-count {
                    clear: none;
                    float: left;
                    margin-bottom: 20px;
                    margin-left: 22px;
                    padding-top: 3px;
                }
            }
        }
    }
}

.lt-tablet-width {
    .subscriptions-catalog {
        .clubs-catalog-list-item__available-training {
            display: block;
            margin-bottom: 29px;
            padding-bottom: 3px;
            text-align: left;

            .clubs-catalog-list-item__available-training-item {
                &:first-child {
                    padding-bottom: 10px;

                    &:before {
                        display: none;
                        margin-right: 26px;
                    }
                }

                .clubs-catalog-list-item__available-training-club-address,
                .clubs-catalog-list-item__available-training-club-name {
                    white-space: initial;
                }

                .clubs-catalog-list-item__rating-stars {
                    float: left;
                }

                .clubs-catalog-list-item__reviews-count {
                    margin-left: 1px;
                    padding-top: 7px;
                }
            }
        }

        .clubs-catalog-list-item__shot-price-info {
            display: block;
            float: none;
            padding-bottom: 58px;
            width: 100%;

            .clubs-catalog-list-item__shot-price-info-subscription-text,
            .clubs-catalog-list-item__shot-price-info-text {
                float: left;
            }

            .clubs-catalog-list-item__shot-price-info-text {
                margin-right: 31px;
            }

            .clubs-catalog-list-item__shot-price-info-subscription-text {
                padding-top: 8px;
            }
        }

        .clubs-catalog-list-item__more-info {
            clear: both;
            display: block;
            float: none;
        }
    }

}

.lt-tablet-width {
    .clubs-catalog-list-item__shot-price-info-subscription-text {
        padding-bottom: 22px;
        padding-top: 4px;
    }
}
