@import 'aaa-var';

body { // just add authority in front of swiper's classes
    .tab_wrapper {
        border-bottom: 1px solid $mainBorderColor;
        margin-bottom: 52px;
    }

    .tab {
        border-bottom: 2px solid transparent;
        color: $mainTextColor;
        cursor: pointer;
        display: block;
        font-size: 14px;
        list-style: none;
        margin-right: 54px;
        padding: 40px 0 37px;
        position: relative;
        user-select: none;
        width: auto;

        &:global.react-tabs__tab--selected {
            border-bottom: 2px solid $mainColor;
        }
    }

    .tab_text_mark {
        color: $mainColor;
        font-size: 14px;
        font-weight: bold;
        position: absolute;
        right: -12px;
        top: 27px;
    }

    :global .lt-desktop-width {
        :local {
            .tab_text_mark {
                top: 13px;
            }

            .tab_wrapper {
                margin-bottom: 59px;
            }

            .tab {
                margin: 0 24px 0 16px;
                padding: 27px 0 21px;
            }
        }
    }

    :global .lt-tablet-width {
        :local {
            .tab_wrapper {
                margin-bottom: 20px;
            }

            .tab {
                margin: 0 24px 0 16px;
                padding: 27px 0 21px;
            }
        }
    }
}


