@import "aaa-var";

.top-big-banner {
    height: 300px;
    background-size: cover;
    background-position: center center;
    background-image: url('./../images/header/search.jpg');
    position: relative;
    overflow: hidden;
    background-color: #192739;

    .hug {
        position: relative;
        z-index: 1;
        min-height: 200px;

        .section__header {
            @extend .ellipsis;
            color: #fff;
            text-transform: uppercase;
            letter-spacing: 5px;
            &.section__header--training {
                text-transform: none;
                position: relative;
            }
        }

        .section__header-heart {
            cursor: pointer;
            width: 24px;
            height: 24px;
            display: inline-block;
            background-repeat: no-repeat;
            background-image: url('./../../style/i/club/heart.svg');
            background-position: center center;
            background-size: contain;
            position: relative;
            top: 3px;
            left: 10px;
            transition: background ease-out 0.3s;
            &.section__header-heart--marked {
                background-image: url('./../../style/i/club/heart-filled.svg');
            }
        }
    }
}

.top-big-banner__overlay {
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(25, 39, 57, 0.35);
    background-image: url('./../i/header/pattern.png');
}

@media screen and (max-width: $tabletWidth) {
    .top-big-banner {
        height: 180px;
        .hug {
            .section__header {
                font-size: 24px;
                padding-top: 70px;
                letter-spacing: 2px;

                &.section__header--club {
                    padding-top: 51px;
                }
            }

            .club-header__services {
                margin-top: 15px;
                padding-right: 14px;

                .club-header__service {
                    font-size: 14px;
                    padding-left: 63px;
                    &:before {
                        width: 50px;
                        height: 50px;
                    }

                    &.club-header__service--subscriptions {
                        &:before {
                            background-size: 24px auto;
                            background-position: center 14px;
                        }
                    }

                    &.club-header__service--trainings {
                        &:before {
                            background-size: 24px auto;
                            background-position: center 16px;
                        }
                    }
                }

            }
            .bread-crumbs {
                display: none;
            }
        }
    }
}

@media screen and (max-width: $mobileWidth) {
    .top-big-banner {

        .hug {
            .section__header {
                font-size: 24px;
                padding-top: 70px;
                letter-spacing: 2px;

                &.section__header--club {
                    padding-top: 25px;
                    padding-bottom: 32px;
                }
            }
            .club-header__services {
                margin-top: 37px;
                padding-right: 0;
                float: left;

                .club-header__service {
                    float: left;
                    font-size: 14px;
                    padding-left: 48px;
                    margin-left: 10px;
                    width: 100px;

                    &:before {
                        top: -8px;
                        width: 42px;
                        height: 42px;
                    }

                    &.club-header__service--subscriptions {
                        &:before {
                            background-size: 20px auto;
                            background-position: center 12px;
                        }
                    }

                    &.club-header__service--trainings {
                        &:before {
                            background-size: 20px auto;
                            background-position: center 14px;
                        }
                    }
                }

            }
        }
    }
}
